# This dhcpd configuration managed by Ansible.  Changes to this file will not be
# persisted if the Ansible playbooks used to set up this machine are rerun!

default-lease-time 600;
max-lease-time 7200;

subnet {{ internal_subnet }} netmask {{ internal_netmask }} {
  range {{ internal_dhcp_range[0] }} {{ internal_dhcp_range [1] }};
  option routers {{ head_internal_address }};
  option broadcast-address {{ internal_broadcast }};
}

{% for node in compute_nodes %}
host {{ node.name }} {
  option host-name {{ node.name }};
  hardware ethernet {{ node.mac }};
  fixed-address {{ node.ip }};
}
{% endfor %}
