# This isc-dhcp-server configuration file is managed by Ansible.
# Changes to this file will not be persisted if the Ansible playbooks
# used to set up this machine are rerun!

INTERFACESv4="{{ head_internal_interface }}"
INTERFACESv6=""
