<!-- Django template -->
<!-- Display contents of docker image as a HTML table -->

{% extends "portal/base.html" %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script>
        var is_owner = {{ is_owner|lower }},
            is_admin = {{ is_admin|lower }};
    </script>
    <script src="/static/portal/edit_details.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/method/styles/default.css"/>
{% endblock %}

{% block widget_media %}
{{ docker_image_form.media }}
{% endblock %}

{% block title %} {{ docker_image.name }} {% endblock %}

{% block content %}

<a href="/docker_images" rel="prev">Back to docker images</a>

<h2>{{ docker_image.name }}</h2>

{% if not is_owner and is_admin %}
    <div id="lock"><img src=""/></div>
{% endif %}

<h3>Details</h3>

{% if is_owner or is_admin %}
<form action="" method="post">{% csrf_token %}
{% endif %}

<table>
<tr><td>Date created:</td><td>{{ docker_image.created }}</td></tr>
<tr><td>Creator:</td><td>{{ docker_image.user }}</td></tr>

<tr>
    <td>Permissions:</td>
    <td>
    <h4>Users allowed</h4>
    {% if docker_image.users_allowed.exists %}
    <ul>
        {% for user in docker_image.users_allowed.all %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}

    <h4>Groups allowed</h4>
    {% if docker_image.groups_allowed.exists %}
    <ul>
        {% for group in docker_image.groups_allowed.all %}
        <li>{{ group }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}
    </td>

    {% if is_owner or is_admin %}
    <td class="edit">{{ docker_image_form.permissions }}</td>
    {% endif %}
</tr>

<tr>
    <td>Name:</td>
    <td>{{ docker_image.name }}</td>
</tr>
<tr>
    <td>Tag:</td>
    <td>{{ docker_image.tag }}</td>
</tr>
<tr>
    <td>Git:</td>
    <td>{{ docker_image.git }}</td>
</tr>
<tr>
    <td>Description:</td>
    <td>
        <span class="readonly">{{ docker_image.description }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ docker_image_form.description }}</span>
        {% endif %}
    </td>
</tr>


</table>

{% if is_owner or is_admin %}
<span class="edit"><input type="submit" value="Revise details"/></span>
</form>
{% endif %}

{{ docker_image_form.errors }}


{% endblock %}
