<!-- Django template -->
<!-- Display contents of docker images as an HTML table -->

{% extends "portal/base.html" %}

{% block title %}Docker Images{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/method/DockerImagesTable.js"></script>
    <script src="/static/portal/ajaxsearchfilter.js"></script>
    <script src="/static/portal/helptext.js"></script>

    <script type="text/javascript">

    $(function(){
        var table = new permissions.DockerImagesTable(
            $("#dockerimages"),
            {{ is_user_admin|lower }},
            $(".navigation_links")
        );
        var asf = new AjaxSearchFilter(table, $("#asf"));
        asf.reloadTable();
    });

    </script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block content %}

<a href="dev.html" rel="prev">Back to developer's portal</a>

<h2>Docker Images</h2>

<p>
A Docker image is an isolated file system that can run one or more methods.
</p>

<div id="asf">
    <form class="asf-form">
        <div class="asf-main-search">
            <div class="asf-active-filters"></div>
            <input type="text" name="smart" class="asf-search-field">
            <input type="button" class="advanced ctrl" value="Advanced">
            <input type="submit" value="Filter" class="asf-search-button">
        </div>
    </form>
    <form class="asf-advanced-form">
        <input type="button" class="advanced ctrl" value="Advanced">
        <h4>Advanced search</h4>
        <div class="asf-field-container">
            <label>Name</label> <input name="name" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Description</label> <input name="description" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Tag</label> <input name="tag" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Git</label> <input name="git" type="text" class="asf-search-fixed-field">
        </div>
        <input type="submit" value="Filter" class="asf-search-button">
    </form>
</div>

<div class="navigation_links"></div>

<div class="dev_results">
    <table id="dockerimages"></table>
</div>

<a class="button" href="/docker_image_add">+&ensp;<span class="button-lbl">Create a new docker image</span></a>

{% endblock %}
