<!-- Django template -->
<!-- Add DockerImage -->

{% extends "portal/base.html" %}

{% block title %}Add a new docker image{% endblock %}

{% block javascript %}
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script src="/static/portal/noxss.js"></script>
<script src="/static/method/docker_image_add.js"></script>
{% endblock %}

{% block widget_media %}
{{ image_form.media }}
{% endblock %}

{% block content %}

<a href="/docker_images" rel="prev">return to docker images</a>

<h2>Add a new docker image</h2>

<pre>
    {{ image_form.non_field_errors }}
</pre>

<!-- Form for inserting new DockerImage -->
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>
            <th>{{ image_form.name.label_tag }}</th>
            <td><div class="helptext">{{ image_form.name.help_text }}</div></td>
            <td>{{ image_form.name }}</td>
            <td><div class="errortext">{{ image_form.name.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ image_form.tag.label_tag }}</th>
            <td><div class="helptext">{{ image_form.tag.help_text }}</div></td>
            <td>{{ image_form.tag }}</td>
            <td><div class="errortext">{{ image_form.tag.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ image_form.git.label_tag }}</th>
            <td><div class="helptext">{{ image_form.git.help_text }}</div></td>
            <td>{{ image_form.git }}</td>
            <td><div class="errortext">{{ image_form.git.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ image_form.description.label_tag }}</th>
            <td><div class="helptext">{{ image_form.description.help_text }}</div></td>
            <td>{{ image_form.description }}</td>
            <td><div class="errortext">{{ image_form.description.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ image_form.permissions.label_tag }}</th>
            <td><div class="helptext">{{ image_form.permissions.help_text }}</div></td>
            <td>{{ image_form.permissions }}</td>
            <td><div class="errortext">{{ image_form.permissions.errors }}</div></td>
        </tr>

    </table>

    <input type="submit" value="Submit" />
</form>


{% endblock %}
