<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Method: {{ family.name }}{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/method/MethodTable.js"></script>
    <script src="/static/portal/ajaxsearchfilter.js"></script>
    <script src="/static/portal/edit_details.js"></script>

    <script type="text/javascript">

    var is_admin = {{ is_admin|lower }},
        is_owner = {{ is_owner|lower }};

    $(function() {
        noXSS();

        var table = new permissions.MethodTable(
            $("#methods"),
            is_admin,
            $(".navigation_links")
        );
        var asf = new AjaxSearchFilter(table, $("#asf"));
        // This adds a filter for the current MethodFamily.
        table.filterSet.add("methodfamily_id", {{ family.pk }}, true).hide();
        asf.reloadTable();
    });

    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block widget_media %}
{{ family_form.media }}
{% endblock %}

{% block content %}

<a href="/method_families" rel="prev">Back to Method Family summary</a>

<h2>Method Family: {{ family.name }}</h2>

{% if not is_owner and is_admin %}
    <div id="lock"><img src=""/></div>
{% endif %}

<h3>Details</h3>

{% if is_owner or is_admin %}
<form id="methodFamilyDetails" name="methodFamilyDetails" action="" method="post">{% csrf_token %}
{% endif %}

<table>
<tr>
    <td>Creator:</td>
    <td>{{ family.user }}</td>
</tr>

<tr>
    <td>Permissions:</td>
    <td>
    <h4>Users allowed</h4>
    {% if family.users_allowed.exists %}
    <ul>
        {% for user in family.users_allowed.all %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}

    <h4>Groups allowed</h4>
    {% if family.groups_allowed.exists %}
    <ul>
        {% for group in family.groups_allowed.all %}
        <li>{{ group }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}
    </td>

    {% if is_owner or is_admin %}
    <td class="edit">{{ family_form.permissions }}</td>
    {% endif %}
</tr>

<tr>
    <td>Name:</td>
    <td>
        <span class="readonly">{{ family.name }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ family_form.name }}</span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Description:</td>
    <td>
        <span class="readonly">{{ family.description }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ family_form.description }}</span>
        {% endif %}
    </td>
</tr>

</table>

{% if is_owner or is_admin %}
<span class="edit"><input type="submit" name="reviseMethodFamilyDetails" value="Revise details"/></span>
</form>
{% endif %}

{{ family_form.errors }}

<p>
Click on the method name to view the method and make edits to metadata,
    click on 'Revise' link to revise the corresponding method, or
    click 'Add new method' to add a method without specifying a parent
    revision.
</p>

<div id="asf">
    <form class="asf-form">
        <div class="asf-main-search">
            <div class="asf-active-filters"></div>
            <input type="text" name="smart" class="asf-search-field">
            <input type="button" class="advanced ctrl" value="Advanced">
            <input type="submit" value="Filter" class="asf-search-button">
        </div>
    </form>
    <form class="asf-advanced-form">
        <input type="button" class="advanced ctrl" value="Advanced">
        <h4>Advanced search</h4>
        <div class="asf-field-container">
            <label>Name</label> <input name="name" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Description</label> <input name="description" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Creator</label> <input name="user" type="text" class="asf-search-fixed-field">
        </div>
        <input type="submit" value="Filter" class="asf-search-button">
    </form>
</div>

<div id="active_filters"></div>

<div class="navigation_links"></div>

    <div class="dev_results">
        <table id="methods"></table>
    </div>

<a href="/method_add/{{ family.pk }}" class="button">+&ensp;<span class="button-lbl">Add a new method</span></a>

{% endblock %}
