<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script>
        var is_owner = {{ is_owner|lower }},
            is_admin = {{ is_admin|lower }};
    </script>
    <script src="/static/portal/edit_details.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/method/styles/default.css"/>
{% endblock %}

{% block widget_media %}
{{ method_form.media }}
{% endblock %}

{% block title %} {{ method.family }}, revision {{ method.display_name }} {% endblock %}

{% block content %}

<a href="/methods/{{ method.family.pk }}" rel="prev">Back to Method family</a>

<h2>{{ method.family }}, revision {{ method.display_name }}</h2>

{% if not is_owner and is_admin %}
    <div id="lock"><img src=""/></div>
{% endif %}

<h3>Details</h3>

{% if is_owner or is_admin %}
<form id="methodFamilyDetails" name="methodFamilyDetails" action="" method="post">{% csrf_token %}
{% endif %}

<table>
<tr><td>Date created:</td><td>{{ method.revision_DateTime }}</td></tr>
<tr><td>Creator:</td><td>{{ method.user }}</td></tr>

<tr>
    <td>Permissions:</td>
    <td>
    <h4>Users allowed</h4>
    {% if method.users_allowed.exists %}
    <ul>
        {% for user in method.users_allowed.all %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}

    <h4>Groups allowed</h4>
    {% if method.groups_allowed.exists %}
    <ul>
        {% for group in method.groups_allowed.all %}
        <li>{{ group }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}
    </td>

    {% if is_owner or is_admin %}
    <td class="edit">{{ method_form.permissions }}</td>
    {% endif %}
</tr>

<tr>
    <td>Revision name:</td>
    <td>
        <span class="readonly">{{ method.revision_name }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ method_form.revision_name }}</span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Revision description:</td>
    <td>
        <span class="readonly">{{ method.revision_desc }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ method_form.revision_desc }}</span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Driver:</td>
    <td>{{ method.driver }}</td>
</tr>

</table>

{% if is_owner or is_admin %}
<span class="edit"><input type="submit" name="reviseMethodFamilyDetails" value="Revise details"/></span>
</form>
{% endif %}

{{ method_form.errors }}

{% if method.dependencies.count > 0 %}
<h3>Dependencies</h3>

    <table id="dependencies">
    <thead>
        <tr><th>Code resource revision</th><th>Path</th><th>Filename</th></tr>
    </thead>
    <tbody>
    {% for dep in method.dependencies.all %}
        <tr>
        <td>{{ dep.requirement }}</td>
        <td>{{ dep.path }}</td>
        <td>{{ dep.filename }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

<h3>Inputs</h3>

    <table id="inputs">
    <thead>
        <tr><th>Index</th><th>Name</th><th>Compound datatype</th><th>Min. rows</th><th>Max. rows</th></tr>
    </thead>
    <tbody>
    {% for method_input in method.sorted_inputs %}
        <tr>
        <td>{{ method_input.dataset_idx }}</td>
        <td>{{ method_input.dataset_name }}</td>
        <td>{{ method_input.get_cdt }}</td>
        <td>{{ method_input.get_min_row }}</td>
        <td>{{ method_input.get_max_row }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

<h3>Outputs</h3>

    <table id="outputs">
    <thead>
        <tr><th>Index</th><th>Name</th><th>Compound datatype</th><th>Min. rows</th><th>Max. rows</th></tr>
    </thead>
    <tbody>
    {% for method_output in method.sorted_outputs %}
        <tr>
        <td>{{ method_output.dataset_idx }}</td>
        <td>{{ method_output.dataset_name }}</td>
        <td>{{ method_output.get_cdt }}</td>
        <td>{{ method_output.get_min_row }}</td>
        <td>{{ method_output.get_max_row }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
