<!-- Django template -->
<!-- Display contents of Method Families as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Methods{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/method/MethodFamiliesTable.js"></script>
    <script src="/static/portal/ajaxsearchfilter.js"></script>
    <script src="/static/portal/helptext.js"></script>

    <script type="text/javascript">

    $(function(){
        noXSS();

        var table = new permissions.MethodFamiliesTable(
            $("#methodfamilies"),
            {{ is_user_admin|lower }},
            $(".navigation_links")
        );
        var asf = new AjaxSearchFilter(table, $("#asf"));
        asf.reloadTable();
    });

    </script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block content %}

<a href="dev.html" rel="prev">Back to developer's portal</a>

<h2>Method Families</h2>

<p>
A MethodFamily is a collection of Methods that share a certain function
in common.
</p>

<div id="asf">
    <form class="asf-form">
        <div class="asf-main-search">
            <div class="asf-active-filters"></div>
            <input type="text" name="smart" class="asf-search-field">
            <input type="button" class="advanced ctrl" value="Advanced">
            <input type="submit" value="Filter" class="asf-search-button">
        </div>
    </form>
    <form class="asf-advanced-form">
        <input type="button" class="advanced ctrl" value="Advanced">
        <h4>Advanced search</h4>
        <div class="asf-field-container">
            <label>Name</label> <input name="name" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Description</label> <input name="description" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Creator</label> <input name="user" type="text" class="asf-search-fixed-field">
        </div>
        <input type="submit" value="Filter" class="asf-search-button">
    </form>
</div>

<div class="navigation_links"></div>

<div class="dev_results">
    <table id="methodfamilies"></table>
</div>

<a class="button" href="/method_new">+&ensp;<span class="button-lbl">Create a new method family</span></a>

{% endblock %}
