<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Method: {{ family.name }}{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script type="text/javascript">
        var is_user_admin = {{ is_user_admin|lower }},
                family_pk = {{ family.pk }};
    </script>
    <script src="/static/method/methods.js"></script>
    <link rel="stylesheet" href="/static/portal/permissions.css">
{% endblock %}

{% block content %}

<a href="/method_families" rel="prev">Back to Method Family summary</a>

<h2>Method Family: {{ family.name }}</h2>

<p>
{{ family.description }}
</p>

<div id="initial_data" style="display:none">{{ methods|escape }}</div>
<p style="font-style: italic; color: gray">
Click on 'Revise' link to revise the corresponding method, or click 'Add new method' to
add a method without specifying a parent revision.
</p>

<table id="methods"></table>

<a href="/method_add/{{ family.pk }}" class="button">+&ensp;<span class="button-lbl">Add a new method</span></a>

{% endblock %}
