<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Code resources{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/method/resources.js"></script>
    <link rel="stylesheet" href="/static/portal/permissions.css">
    <link rel="stylesheet" href="/static/sandbox/sandbox.css">

    <script type="text/javascript">
        $(function(){
            resources_main($("#coderesources"), {{ is_user_admin|lower }},
                    $("#active_filters"), $(".navigation_links"));
        });
    </script>
{% endblock %}

{% block content %}

<a href="dev.html" rel="prev">Back to developer's portal</a>

<h2>Code resources</h2>
<a href="/resource_add" class="button">+&ensp;<span class="button-lbl">Add new</span></a>

<p>
A code resource is a file that contains a set of instructions
(implemented in a scripting language) that can be executed to 
process data.  Some code resources depend on others; these are 
dependencies.  Every code resource exists as a revision or an initial version.
To create a new branch, click <a href="/resource_add">Add new</a> to upload the initial version.
To upload a revision of an existing code resource branch, click on the name of
in the following table.
</p>

{% if no_access %}
    <p>You do not have access to the CodeResource with id={{ no_access }}.</p>
{% endif %}

<div class="filter_ctrl">
    <form class="short-filter">
    <input name="smart" type="text"
        ><input type="button" class="advanced ctrl" value="Advanced"
        ><input type="submit" value="Filter">
    </form>

    <form class="advanced-filter">
    <h4>Advanced search</h4>
    <table>
    <tr>
        <td><label>Name<input name="name" type="text"/></label></td>
        <td><label>Description<input name="description" type="text"/></label></td>
    </tr>
    <tr>
        <td><label>Filename<input name="filename" type="text"/></label></td>
        <td><label>Creator<input name="user" type="text"/></label></td>
    </tr>
    </table>
    <input type="submit" value="Filter"/>
    </form>
</div>

<div id="active_filters"></div>

<div class="navigation_links"></div>

<table id="coderesources"></table>

{% endblock %}
