<!-- Django template -->
<!-- Add CodeResources -->

{% extends "portal/base.html" %}

{% block title %}Add a new code resource{% endblock %}

{% block javascript %}
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script src="/static/portal/noxss.js"></script>
<script src="/static/method/resource_add.js"></script>
{% endblock %}

{% block widget_media %}
{{ resource_form.media }}
{% endblock %}

{% block content %}

<a href="/resources" rel="prev">return to Code Resource summary</a>

<h2>Add a new code resource</h2>

{{ resource_form.non_field_errors }}

<!-- Form for inserting new CodeResources -->
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>
            <th>File:</th>
            <td><div class="helptext">{{ resource_form.content_file.help_text }}</div></td>
            <td>{{ resource_form.content_file }}</td>
            <td><div class="errortext">{{ resource_form.content_file.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ resource_form.resource_name.label_tag }}</th>
            <td><div class="helptext">{{ resource_form.resource_name.help_text }}</div></td>
            <td>{{ resource_form.resource_name }}</td>
            <td><div class="errortext">{{ resource_form.resource_name.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ resource_form.resource_desc.label_tag }}</th>
            <td><div class="helptext">{{ resource_form.resource_desc.help_text }}</div></td>
            <td>{{ resource_form.resource_desc }}</td>
            <td><div class="errortext">{{ resource_form.resource_desc.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ resource_form.permissions.label_tag }}</th>
            <td><div class="helptext">{{ resource_form.permissions.help_text }}</div></td>
            <td>{{ resource_form.permissions }}</td>
            <td><div class="errortext">{{ resource_form.permissions.errors }}</div></td>
        </tr>

    </table>

    <input type="submit" value="Submit" />
</form>


{% endblock %}
