<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block javascript %}
    <link rel="stylesheet" href="/static/method/styles/default.css">
    <script src="/static/method/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block title %} {{ revision.coderesource }}, revision {{ revision }} {% endblock %}

{% block content %}

<a href="/resource_revisions/{{ revision.coderesource.id }}" rel="prev">Back to Code Resource</a>

<h2>{{ revision.coderesource }}, revision {{ revision }}</h2>

<pre><code>
{{ revision.content_file.read }}
</code></pre>

{% endblock %}
