<!-- Django template -->
<!-- Add CodeResources -->

{% extends "portal/base.html" %}

{% block title %}Add a new code resource{% endblock %}

{% block javascript %}
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script src="/static/portal/noxss.js"></script>
<script src="/static/method/resource_add.js"></script>
{% endblock %}

{% block widget_media %}
{{ resource_form.media }}
{% endblock %}

{% block content %}

<a href="/resources" rel="prev">return to Code Resource summary</a>

<h2>Add a new code resource</h2>

{{ resource_form.non_field_errors }}

<!-- Form for inserting new CodeResources -->
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>
            <th>File:</th>
            <td><div class="helptext">{{ resource_form.content_file.help_text }}</div></td>
            <td>{{ resource_form.content_file }}</td>
            <td><div class="errortext">{{ resource_form.content_file.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ resource_form.resource_name.label_tag }}</th>
            <td><div class="helptext">{{ resource_form.resource_name.help_text }}</div></td>
            <td>{{ resource_form.resource_name }}</td>
            <td><div class="errortext">{{ resource_form.resource_name.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ resource_form.resource_desc.label_tag }}</th>
            <td><div class="helptext">{{ resource_form.resource_desc.help_text }}</div></td>
            <td>{{ resource_form.resource_desc }}</td>
            <td><div class="errortext">{{ resource_form.resource_desc.errors }}</div></td>
        </tr>
        <tr>
            <th>{{ resource_form.permissions.label_tag }}</th>
            <td><div class="helptext">{{ resource_form.permissions.help_text }}</div></td>
            <td>{{ resource_form.permissions }}</td>
            <td><div class="errortext">{{ resource_form.permissions.errors }}</div></td>
        </tr>

    </table>


    <h3>Dependencies</h3>
    <p>
       Dependencies are other code resource that this code resource requires to execute.  For example, a Python module
        comprised of classes in a single file considered to be a CR dependency (e.g., "import antigravity").
    </p>
    <p>
    <input type="button" id="addDependencyForm" class="add" value="+"/><input type="button" id="removeDependencyForm" class="remove" value="&minus;"/><small>Add/subtract dependency form fields</small></p>
    
    <table class="formtable">
        <thead>
            <tr><th>Code resource</th><th>Revision</th><th>Path</th><th>Filename</th></tr>
        </thead>
        <tbody id="dependencyForms">
            {% for dep_form in dep_forms %}
            <tr>
                <td>{{ dep_form.coderesource }}
                    <div class="errortext">{{ dep_form.non_field_errors }}</div>
                    <div class="errortext">{{ dep_form.coderesource.errors }}</div>
                </td>
                <td>{{ dep_form.revisions }}
                    <div class="errortext">{{ dep_form.revisions.errors }}</div>
                </td>
                <td>{{ dep_form.depPath }}
                    <div class="errortext">{{ dep_form.depPath.errors }}</div>
                </td>
                <td>{{ dep_form.depFileName }}
                    <div class="errortext">{{ dep_form.depFileName.errors }}</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="submit" value="Submit" />
</form>


{% endblock %}
