<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Add code resource revision{% endblock %}

{% block javascript %}
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script src="/static/method/resource_add.js"></script>
<script src="/static/portal/noxss.js"></script>
{% endblock %}

{% block widget_media %}
{{ revision_form.media }}
{% endblock %}

{% block content %}

<a href="/resource_revisions/{{ coderesource.id }}" rel="prev">return to Code Resource summary</a>

<h2>Add revision of {{ coderesource }}</h2>

{{ revision_form.non_field_errors }}

<!-- Form for inserting new Datatypes -->
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <!-- this form is pre-populated with the data of the last revision -->
        <tr>
            <td></td>
            {% if parent_revision %}
                <th>{{ parent_revision.revision_name }} ({{ parent_revision.revision_number }})</th>
            {% endif %}
            <th><i>Revision</i></th>
        </tr>
        <tr>
            <th>{{ revision_form.content_file.label }} <div class="helptext">{{ revision_form.content_file.help_text }}</div></th>
            {% if parent_revision %}
                <td style="font-style:italic">{{ parent_revision.filename }}</td>
            {% endif %}
            <td>{{ revision_form.content_file }}<br>
                <div class="errortext">{{ revision_form.content_file.errors }}</div></td>
        </tr>
        <tr>
            <th>
                {{ revision_form.revision_name.label }}
                <div class="helptext">{{ revision_form.revision_name.help_text }}</div>
                <br/>
                <i>&nbsp;Optional</i>
            </th>
            {% if parent_revision %}
                <td></td>
            {% endif %}
            <td>{{ revision_form.revision_name }}
                <div class="errortext">{{ revision_form.revision_name.errors }}</div>
            </td>

        </tr>
        <tr>
            <th>{{ revision_form.revision_desc.label }} <div class="helptext">{{ revision_form.revision_desc.help_text }}</div></th>
            {% if parent_revision %}
                <td style="font-style:italic">{{ parent_revision.revision_desc }}</td>
            {% endif %}
            <td>{{ revision_form.revision_desc }}<br>
                <div class="errortext">{{ revision_form.revision_desc.errors }}</div>
            </td>
        </tr>
        <tr>
            <th>{{ revision_form.permissions.label }} <div class="helptext">{{ revision_form.permissions.help_text }}</div></th>
            {% if parent_revision %}
                <td style="font-style:italic">
                    <h4>Users</h4>
                    {% if parent_revision.users_allowed.exists %}
                    <ul>
                    {% for user in parent_revision.users_allowed.all %}
                        <li>{{ user }}</li>
                    {% endfor %}
                    </ul>
                    {% else %}
                        None
                    {% endif %}

                    <h4>Groups</h4>
                    {% if parent_revision.groups_allowed.exists %}
                    <ul>
                    {% for group in parent_revision.groups_allowed.all %}
                        <li>{{ group }}</li>
                    {% endfor %}
                    </ul>
                    {% else %}
                        None
                    {% endif %}
                </td>
            {% endif %}
            <td>{{ revision_form.permissions }}<br>
                <div class="errortext">{{ revision_form.permissions.errors }}</div>
            </td>
        </tr>
    </table>

    <input type="submit" value="Upload" />
</form>


{% endblock %}
