<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Revise a code resource{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/portal/ajaxsearchfilter.js"></script>
    <script src="/static/portal/edit_details.js"></script>

    <script type="text/javascript">
    
    var is_admin = {{ is_admin|lower }},
        is_owner = {{ is_owner|lower }};

    $(function() {
        noXSS();

        var CodeResourceRevisionTable = function($table, is_user_admin, cr_pk,
                                                 $active_filters, $navigation_links) {
            permissions.PermissionsTable.call(this, $table, is_user_admin, $navigation_links);
            this.list_url = "../../api/coderesourcerevisions/";
            this.cr_pk = cr_pk;

            var CRRTable = this;
            this.filterSet = new permissions.FilterSet(
                $active_filters,
                function() {
                    CRRTable.page = 1;
                    CRRTable.reloadTable();
                }
            );
            // This adds a filter for the current CodeResource.
            var $cr_filter = this.filterSet.add("coderesource_id", this.cr_pk, true).hide();

            this.registerColumn("#", "revision_number");
            this.registerColumn("Name", function($td, revision) {
                $("<a>").attr("href", revision.view_url).text(revision.display_name).appendTo($td);
            });
            this.registerColumn("", function($td, revision) {
                $("<a>").attr("href", revision.absolute_url).text("Revise").appendTo($td);
            });
            this.registerColumn("Description", "revision_desc");
            this.registerDateTimeColumn("Date", "revision_DateTime");
            this.registerColumn("", function($td, revision) {
                if (revision.content_file.length !== 0) {
                    $('<a>').text('Download').attr('href', revision.download_url).appendTo($td);
                }
            });

            this.registerStandardColumn("user");
            this.registerStandardColumn("users_allowed");
            this.registerStandardColumn("groups_allowed");
        };
        CodeResourceRevisionTable.prototype = Object.create(permissions.PermissionsTable.prototype);
        CodeResourceRevisionTable.prototype.getQueryParams = function() {
            var params = permissions.PermissionsTable.prototype.getQueryParams.call(this);
            params.filters = this.filterSet.getFilters();
            return params;
        };

        var table = new CodeResourceRevisionTable(
            $("#coderesourcerevisions"), 
            is_admin, 
            {{coderesource.pk}}, 
            $('.asf-active-filters'),
            $(".navigation_links")
        );
        table.reloadTable();
        var asf = new AjaxSearchFilter(table, $('#asf'));
    });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block widget_media %}
{{ resource_form.media }}
{% endblock %}

{% block content %}

<a href="/resources" rel="prev">return to Code Resource summary</a>

<h2>Code resource - {{coderesource.name}}</h2>

{% if not is_owner and is_admin %}
    <div id="lock"><img src=""/></div>
{% endif %}

<h3>Details</h3>

{% if is_owner or is_admin %}
<form id="codeResourceDetails" name="codeResourceDetails" action="" method="post">{% csrf_token %}
{% endif %}

<table>
<tr><td>Filename:</td><td>{{ coderesource.filename }}</td></tr>
<tr><td># revisions:</td><td>{{ coderesource.num_revisions }}</td></tr>
<tr><td>Last revision date:</td><td>{{ coderesource.last_revision_date }}</td></tr>
<tr><td>Creator:</td><td>{{ coderesource.user }}</td></tr>

<tr>
    <td>Permissions:</td>
    <td>
    <h4>Users allowed</h4>
    {% if coderesource.users_allowed.exists %}
    <ul>
        {% for user in coderesource.users_allowed.all %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}

    <h4>Groups allowed</h4>
    {% if coderesource.groups_allowed.exists %}
    <ul>
        {% for group in coderesource.groups_allowed.all %}
        <li>{{ group }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}
    </td>

    {% if is_owner or is_admin %}
    <td class="edit">{{ resource_form.permissions }}</td>
    {% endif %}
</tr>

<tr>
    <td>Name:</td>
    <td>
        <span class="readonly">{{ coderesource.name }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ resource_form.name }}</span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Description:</td>
    <td>
        <span class="readonly">{{ coderesource.description }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ resource_form.description }}</span>
        {% endif %}
    </td>
</tr>

</table>

{% if is_owner or is_admin %}
<span class="edit"><input type="submit" name="reviseCodeResourceDetails" value="Revise details"/></span>
</form>
{% endif %}

{{ resource_form.errors }}

<h3>Revisions:</h3>

<div id="asf">
    <form class="asf-form">
        <div class="asf-main-search">
            <div class="asf-active-filters"></div>
            <input type="text" name="smart" class="asf-search-field">
            <input type="button" class="advanced ctrl" value="Advanced">
            <input type="submit" value="Filter" class="asf-search-button">
        </div>
    </form>
    <form class="asf-advanced-form">
        <input type="button" class="advanced ctrl" value="Advanced">
        <h4>Advanced search</h4>
        <div class="asf-field-container">
            <label>Name</label> <input name="name" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Description</label> <input name="description" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Creator</label> <input name="user" type="text" class="asf-search-fixed-field">
        </div>
        <input type="submit" value="Filter" class="asf-search-button">
    </form>
</div>

<div class="navigation_links"></div>

    <div class="dev_results">
        <table id="coderesourcerevisions"></table>
    </div>

{% endblock %}
