<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Revise a code resource{% endblock %}

{% block javascript %}
<!--<script src="/static/portal/jquery-2.0.3.min.js"></script>-->
<!--<script src="/static/method/resource_add.js"></script>-->
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/method/resource_revisions.js"></script>
    <link rel="stylesheet" href="/static/portal/permissions.css">

    <script type="text/javascript">
       $(function(){
            resource_revisions_main({{ is_user_admin|lower }},
                    $("#coderesourcerevisions"),
                    {{coderesource.pk}},
                    JSON.parse($('#initial_data').text()));
        });
    </script>
{% endblock %}

{% block content %}

<a href="/resources" rel="prev">return to Code Resource summary</a>

<h2>Code resource - {{coderesource.name}}</h2>

<h3>General information:</h3>
<table>
<tr><td>Filename</td><td>{{ coderesource.filename }}</td></tr>
<tr><td>Description</td><td>{{ coderesource.description }}</td></tr>
<tr><td># revisions</td><td>{{ coderesource.num_revisions }}</td></tr>
<tr><td>Last revision date</td><td>{{ coderesource.last_revision_date }}</td></tr>
<tr><td>Creator</td><td>{{ coderesource.user }}</td></tr>
<tr>
    <td>Users allowed</td>
    <td>
        {% if coderesource.users_allowed.exists %}
            <ul>
            {% for user in coderesource.users_allowed.all %}
                <li>{{ user }}</li>
            {% endfor %}
            </ul>
        {% else %}
        None
        {% endif %}
    </td>
</tr>
<tr>
    <td>Groups allowed</td>
    <td>
        {% if coderesource.groups_allowed.exists %}
            <ul>
            {% for group in coderesource.groups_allowed.all %}
                <li>{{ group }}</li>
            {% endfor %}
            </ul>
        {% else %}
        None
        {% endif %}
    </td>
</tr>
</table>


<h3>Revisions:</h3>
<div id="initial_data" style="display: none">{{ coderesourcerevisions|escape }}</div>
<table id="coderesourcerevisions"></table>

{% endblock %}
