-r requirements-test.txt
matplotlib<3.8  # matplotlib 3.4 no longer supports Python 3.6.
seaborn==0.12.2
pandas<2.1  # pandas 1.2 no longer supports Python 3.6.
django-extensions==3.2.1

# First, run apt install graphviz libgraphviz-dev
pygraphviz<1.12  # pygraphviz 1.7 no longer supports Python 3.6.
