-r requirements.txt
django-mock-queries==2.2.0
pytest==7.4.0
coverage==7.2.7
pytest-django==4.5.2
flake8==4.0.1  # Waiting for https://github.com/tholo/pytest-flake8/issues/87
pytest-flake8==1.1.1
requests==2.31.0
mock==5.0.2
