wheel==0.40.0
binaryornot==0.4.4
chardet==5.2.0
Django==4.0.10  # Waiting for https://github.com/encode/django-rest-framework/issues/8587
djangorestframework==3.14.0
funcsigs==1.0.2
pbr==5.11.1
psycopg2-binary==2.9.6
pytz==2023.3
six==1.16.0
scandir==1.10.0
