<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Compound Datatypes{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/metadata/compound_datatypes.js"></script>
    <script type="text/javascript">
        var is_user_admin = {{ is_user_admin|lower }};
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block content %}

<a href="/dev.html" rel="prev">Back to developer's portal</a>

<h2>Compound Datatypes</h2>
<a href="/compound_datatype_add" class="button">+&ensp;<span class="button-lbl">Add new</span></a>

<p>
A compound datatype is an ordered set of datatypes, describing the expected structure of a data set that would act as the input or output of a Method.
</p>

<div class="filter_ctrl">
    <form class="short-filter">
    <input name="smart" type="text"
        ><input type="button" class="advanced ctrl" value="Advanced"
        ><input type="submit" value="Filter">
    </form>

    <form class="advanced-filter">
    <h4>Advanced search</h4>
    <table>
    <tr>
        <td><label>Name<input name="name" type="text"/></label></td>
    </tr>
    <tr>
        <td><label>Column name<input name="column_name" type="text"/></label></td>
        <td><label>Datatype<input name="datatype" type="text"/></label></td>
    </tr>
    <tr>
        <td><label>Creator<input name="user" type="text"/></label></td>
    </tr>
    </table>
    <input type="submit" value="Filter"/>
    </form>
</div>

<div id="active_filters"></div>

<div class="navigation_links"></div>

    <div class="dev_results">
<table id="compounddatatypes">
</table>
    </div>


{% endblock %}
