<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Compound Datatypes{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/metadata/compound_datatypes.js"></script>
    <script type="text/javascript">
        var is_user_admin = {{ is_user_admin|lower }};
    </script>
    <link rel="stylesheet" href="/static/portal/permissions.css">
{% endblock %}

{% block content %}

<a href="/dev.html" rel="prev">Back to developer's portal</a>

<h2>Compound Datatypes</h2>
<a href="/compound_datatype_add" class="button">+&ensp;<span class="button-lbl">Add new</span></a>

<div id="initial_data" style="display:none">{{ compound_datatypes|escape }}</div>
<p>
A compound datatype is an ordered set of datatypes, describing the expected structure of a data set that would act as the input or output of a Method.
</p>

<div id="navigation_links"></div>

<table id="compounddatatypes">
</table>


{% endblock %}
