<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Datatypes{% endblock %}

{% block javascript %}
<!-- I'd like to put this into base.html, but when I did that, it stopped showing up. —JN -->
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script type="text/javascript">

$(function() {
    // For table rows that start with a link, clicking the row should click the link.
    var links = $('td:first-child > a:first-child:last-child');
    links.closest('tr').css('cursor', 'pointer').on('click', function() {
        $('td > a', this)[0].click();
    }).on('mouseover mouseout', function() {
        $(this).toggleClass('hover');
    });
});

</script>
{% endblock %}

{% block content %}

<a href="/dev.html" rel="prev">Back to developer's portal</a>

<h2>Datatypes</h2>

{% if no_access %}
    <p>You do not have access to the datatype with id={{ no_access }}.</p>
{% endif %}

<a href="/datatype_add" class="button">+&ensp;<span class="button-lbl">Add new</span></a>

<table>
<thead>
	<tr>
	<th>Name</th>
	<th style="width: 300px">Description</th>
    <th>Restricts</th>
	<th>Date created</th>
	</tr>
</thead>
{% for datatype in datatypes %}
<tr>
	<td><a href="{{ datatype.get_absolute_url }}">{{ datatype.name }}</a></td>
	<td>{{ datatype.description }}</td>
    <td>{{ datatype.restricts_str }}</td>
    <td>{{ datatype.date_created }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
