<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

<div class="permissions-widget">
 <div class="pw-search-wrapper">
   <div class="pw-users_groups pw-panel">
     <h5>Groups</h5>
     <div class="pw-groups_options pw-inner">
        {% for group in groups %}
        <div class="pw-option pw-group" data-value="{{ group.name }}">{{ group.name }}</div>
        {% endfor %}
     </div>
     <h5>Users</h5>
     <div class="pw-users_options pw-inner">
        {% for user in users %}
        <div class="pw-option pw-user" data-value="{{ user.username }}">{{ user.username }}</div>
        {% endfor %}
     </div>
   </div>
   <div class="pw-search-container"><input class="pw-search-box" placeholder="Search..."></div>
 </div>
 <div class="pw-accumulator-ctrl">
   <input type="button" class="pw-add-all" value="»">
   <input type="button" class="pw-add-one" value="›">
   <input type="button" class="pw-remove-one" value="‹">
   <input type="button" class="pw-remove-all" value="«">
 </div>
 <div class="pw-users_groups_allowed pw-panel">
   <h5>Selected</h5>
   <div class="pw-inner"></div>
 </div>

{% include "django/forms/widgets/multiwidget.html" %}

</div>

