{% extends "portal/base.html" %}

{% block title %}Pipelines{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
{% endblock %}

{% block content %}

<a href="dev.html" rel="prev">Back to developer's portal</a>

<h2>Pipelines</h2>

<p>
A pipeline is the deployment of one or more Methods to process
data.
</p>

<table>
<thead>
	<tr>
    <th>Family</th>
    <th># revisions</th>
    <th>Description</th>
	</tr>
</thead>
{% for family in families %}
<tr>
	<td><a href="{{ family.get_absolute_url }}">{{ family.name }}</a></td>
    <td>{{ family.size }}</td>
	<td>{{ family.description }}</td>
</tr>
{% endfor %}
</table>

<a href="pipeline_add">Add a new pipeline</a><br>
<a href="pipeline_exec">Run a pipeline</a>

{% endblock %}
