<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Pipelines{% endblock %}

{% block javascript %}
    <style>
        #canvas{}
    </style>

    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/pipeline/jsBezier-0.6.js"></script>
    <!--<script src="/static/portal/jquery-ui-1.10.4.custom.min.js"></script>-->
    <script src="/static/pipeline/drydock_objects.js"></script>
    <script src="/static/pipeline/drydock.js"></script>
    <script src="/static/pipeline/pipeline_add.js"></script>
    <link rel="stylesheet" href="/static/pipeline/drydock.css">
    <script>
    $(function() {
        // check for double-click on canvas
        canvas.addEventListener('dblclick', function(e) {
            canvasState.doDblClick(e);
        })

        // if double-click on MethodNode, open Methods menu with this node's info
        canvasState.doDblClick = function(e) {
            var pos = this.getPos(e);
            var mx = pos.x;
            var my = pos.y;
            var shape;
            for (var i = 0; i < canvasState.shapes.length; i++) {
                shape = canvasState.shapes[i];
                if (shape.contains(mx, my)) {
                    // trigger Method menu to drop down
                    $('li[data-rel="#id_method_ctrl"]', 'ul#id_ctrl_nav').click();
                    $('#id_select_method_family').val(shape.family).change();  // trigger ajax
                    $(document).ajaxComplete(function() {
                        // wait for AJAX to populate drop-down before selecting option
                        $('#id_method_revision_field select').val(shape.pk);
                    });

                    return;
                }
            }
        };

        // change pipeline revision drop-down triggers ajax to redraw canvas
        $('#id_pipeline_select').on('change', function () {
            $.ajax({
                type: "POST",
                url: "/get_pipeline/",
                data: { pipeline_id: $('#id_pipeline_select').val() },
                datatype: "json",
                success: function(result) {
                    // prepare to redraw canvas
                    $('#id_reset_button').click();
                    
                    submit_to_url = result['family_pk'];

                    var i, j, k; // counters
                    var node, cables, cable, connector, shape, source, magnet;

                    // convert JSON into JS objects
                    var pipeline_inputs = result['pipeline_inputs'];  // Array[]
                    for (i = 0; i < pipeline_inputs.length; i++) {
                        node = pipeline_inputs[i];
                        if (node.CDT_pk === null) {
                            canvasState.addShape(new RawNode(node.x, node.y, rawNodeWidth, rawNodeHeight, rawNodeColour,
                                    rawNodeInset, rawNodeOffset, node.dataset_name));
                        } else {
                            canvasState.addShape(new CDtNode(node.CDT_pk, node.x, node.y, cdtNodeWidth, cdtNodeColour,
                                    cdtNodeInset, cdtNodeOffset, node.dataset_name));
                        }
                    }

                    var pipeline_steps = result['pipeline_steps'];
                    var method_node_offset = canvasState.shapes.length;
                    var ajax_requests = [];

                    for (i = 0; i < pipeline_steps.length; i++) {
                        node = pipeline_steps[i];

                        // use AJAX transaction to retrieve this Method's inputs and outputs
                        req = $.ajax({
                            type: "POST",
                            url: "/get_method_io/",
                            data: {mid: node.transf_pk},
                            datatype: "json",
                            success: function(methodio) {
                                var inputs = methodio['inputs'],
                                    outputs = methodio['outputs'];

                                var method_node = new MethodNode(node.transf_pk, node.x, node.y, mNodeWidth,
                                        mNodeInset, mNodeSpacing, mNodeColour, node.name, mNodeOffset,
                                        inputs, outputs);
                                method_node.family = node.family_pk;

                                canvasState.addShape(method_node);
                                method_node.draw(canvasState.ctx);  // to update Magnet x and y

                                // connect Method inputs
                                cables = node['cables_in'];
                                for (j = 0; j < cables.length; j++) {
                                    cable = cables[j];
                                    if (cable.source_step == 0) {
                                        // cable from pipeline input, identified by dataset_name
                                        source = null;
                                        for (k = 0; k < canvasState.shapes.length; k++) {
                                            shape = canvasState.shapes[k];
                                            if (shape.constructor !== MethodNode && shape.label === cable.source_dataset_name) {
                                                source = shape;
                                                break;
                                            }
                                        }
                                        if (source === null) {
                                            alert("Failed to redraw Pipeline: missing data node");
                                            console.log(shape.label);
                                            console.log(cable.source_dataset_name);
                                            return;
                                        }

                                        // data nodes only have one out-magnet, so use 0-index
                                        connector = new Connector(null, null, source.out_magnets[0]);

                                        // connect other end of cable to the MethodNode
                                        magnet = method_node.in_magnets[j];
                                        connector.x = magnet.x;
                                        connector.y = magnet.y;
                                        connector.dest = magnet;

                                        source.out_magnets[0].connected.push(connector);
                                        method_node.in_magnets[j].connected.push(connector);
                                        canvasState.connectors.push(connector);
                                    }
                                    else {
                                        // cable from another MethodNode

                                        // this requires that pipeline_steps in JSON is sorted by step_num
                                        //  (adjust for 0-index)
                                        source = canvasState.shapes[method_node_offset + cable.source_step - 1];

                                        // find the correct out-magnet
                                        for (k = 0; k < source.out_magnets.length; k++) {
                                            magnet = source.out_magnets[k];
                                            if (magnet.label === cable.source_dataset_name) {
                                                connector = new Connector(null, null, magnet);
                                                magnet = method_node.in_magnets[j];
                                                connector.x = magnet.x;
                                                connector.y = magnet.y;
                                                connector.dest = magnet;

                                                source.out_magnets[k].connected.push(connector);
                                                method_node.in_magnets[j].connected.push(connector);
                                                canvasState.connectors.push(connector);
                                                break;
                                            }
                                        }
                                    }
                                }
                                // done connecting input cables
                            }
                        });

                        ajax_requests.push(req);
                    }

                    // wait for MethodNodes to be built before connecting Pipeline outputs
                    $.when.apply(null, ajax_requests).done(function() {
                        var pipeline_outputs = result['pipeline_outputs'];
                        var output_node;

                        for (i = 0; i < pipeline_outputs.length; i++) {
                            cable = pipeline_outputs[i];
                            console.log(cable);

                            // identify source Method
                            source = canvasState.shapes[method_node_offset + cable.source_step - 1];
                            console.log(source);

                            // find the correct out-magnet
                            for (k = 0; k < source.out_magnets.length; k++) {
                                magnet = source.out_magnets[k];
                                if (magnet.label === cable.source_dataset_name) {
                                    console.log('found');
                                    console.log(magnet);
                                    connector = new Connector(null, null, magnet);
//                                    connector.x = cable.x;
                                    /* 
                                        since canvas size is based off window size, 
                                        outputs should always go at the 90% mark of
                                        the canvas width regardless of the saved x-pos.

                                        AP: actually, now that we have OutputNodes,
                                        cable should retain original x, y coords.
                                    */
                                    //connector.x = canvasState.width * 0.9;
                                    //connector.y = cable.y;
                                    //connector.dest = cable.output_name;
                                    output_node = new OutputNode(cable['x'], cable['y'], null, null, '#d40', null, null, cable['output_name']);
                                    canvasState.addShape(output_node);

                                    connector.x = cable.x;
                                    connector.y = cable.y;

                                    connector.dest = output_node.in_magnets[0];
                                    connector.dest.connected = [ connector ];  // bind cable to output node
                                    connector.source = magnet;

                                    magnet.connected.push(connector);  // bind cable to source Method
                                    canvasState.connectors.push(connector);
                                    break;
                                }
                            }
                        }
                    })
                }
            })
        }).change();
    })
    </script>
{% endblock %}

{% block content %}

<a href="/pipelines" rel="prev">Back to pipeline summary</a>

    <!-- CANVAS -->
    <div>
    <canvas id="pipeline_canvas">
        HTML5 Canvas not supported by this browser.
    </canvas>
    </div>

    <!-- Method selector -->
    <div id="pipeline_ctrl">
        <ul id="id_ctrl_nav">
            <li data-rel="#id_meta_ctrl">Pipeline</li>
            <li data-rel="#id_input_ctrl">Inputs</li>
            <li data-rel="#id_method_ctrl">Methods</li>
        </ul>

        <form id="id_pipeline_form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div id="form_ctrl">
                <input type="button" id="id_example_button" value="Example">
                <input type="button" id="id_delete_button" value="Delete">
                <input type="button" id="id_reset_button" value="Clear">
                <input type="submit" id="id_submit_button" value="Submit">
                <div class="errortext" id="id_submit_error"></div>
            </div>

            <div id="id_meta_ctrl" class="ctrl_menu">
                <h3>Pipeline</h3>

                <select id="id_pipeline_select">
                    {% for revision in revisions %}
                    <option value="{{ revision.id }}">{{ revision.revision_number }}: {{ revision.revision_name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" id="id_family_name" value="{{ family.name }}"/>
                <input type="hidden" id="id_family_desc" value="{{ family.desc }}"/>

                <label for="id_revision_name" class="text-field-label">Revision name</label>
                <input id="id_revision_name" maxlength="128" name="revision_name" type="text" />

                <label for="id_revision_desc" class="text-field-label">Description</label>
                <textarea id="id_revision_desc" name="revision_desc"></textarea>
            </div>
        </form>

        <div id="id_input_ctrl" class="ctrl_menu">
            <h3>Inputs</h3>

            <form>
            <label for="id_datatype_name" class="text-field-label">Label</label>
            <input id="id_datatype_name" maxlength="128" name="datatype_name" type="text" />

            <select id="id_select_cdt" name="select_cdt" class="select-label">
                <option value="">Raw</option>
                {% for cdt in compound_datatypes %}
                    <option value={{ cdt.pk }}>{{ cdt }}</option>
                {% endfor %}
            </select>

            <input type="submit" id="id_cdt_button" value="Add Input">
            <div class="errortext" id="id_dt_error"></div>
            </form>
        </div>

        <div id="id_method_ctrl" class="ctrl_menu">
            <h3>Methods</h3>

            <form>
            <label for="id_method_name" class="text-field-label">Label</label>
            <input id="id_method_name" maxlength="128" name="method_name" type="text" />

            <select id="id_select_method_family" name="select_method_family">
                <option value="" class="label">Select method family</option>
                {% for mf in method_families %}
                    <option value={{ mf.pk }}>{{ mf.name }}</option>
                {% endfor %}
            </select>

            <div id="id_method_revision_field">
            <select id="id_select_method" name="select_method">
                <!-- populated by ajax transaction -->
            </select>
            </div>

            <input type="submit" id="id_method_button" value="Add Method">
            <div class="errortext" id="id_method_error"></div>
            </form>
        </div>


    </div>

    <div id="dialog_form">
        <form id="id_output_name_form">
            <label for="output_name">Output name</label>
            <input type="text" name="output_name" id="output_name" class="text">
            <input type="submit" id="output_submit" value="OK">
        </form>
    </div>

{% endblock %}
