
.bar {
    height: 18px;
    background: green;
}

.bulk_dataset_table {
    overflow:scroll;
    height:50em;
    clear: both;
}

.loading_container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
}

.loading_img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}