.status_cell {

}

.loading_img {
    width: 20px;
    height: 20px;
}

.display_only_input {
    outline: none;
}

.display_only_input  input[type="text"] {
    background-color: #F5F5F5;
}

textarea:focus, input:focus{
    outline: none;
}


.bulk_dataset_table td {
	padding: .25em;
	text-align: center;
}
.bulk_dataset_table td.first {
	padding-left: 0;
}

.bulk_dataset_table textarea {
	width: 15em;
	height: 3em;
}
.bulk_dataset_table textarea:focus {
	height: 8em;
}