<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Add Compound Datatype{% endblock %}

{% block javascript %}
<script src="/static/portal/jQuery-2.0.3.min.js"></script>
<script src="/static/metadata/compound_datatype_add.js"></script><!-- MIME type is only required for inline javascript as the server should supply it in the HTTP header -->
{% endblock %}

{% block content %}

<a href="/compound_datatypes" rel="prev">return to Compound Datatypes summary</a>

<h2>Add a new compound datatype</h2>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
    <input type="button" id="addForm" value="+" class="add" /><input type="button" id="removeForm" value="&minus;" class="remove" />
    <small>Add/subtract form fields</small>
    </p>

    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Datatype <div class="helptext">{{ first_form.datatype.help_text }}</div></th>
                <th>Name <div class="helptext">{{ first_form.column_name.help_text }}</div></th>
                <th></th>
            </tr>
        </thead>

        <tbody id="cdmForms">
            {% for cdm_form in cdm_forms %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cdm_form.datatype }}</td>
                <td>{{ cdm_form.column_name }}</td>
                <td>{{ cdm_form.errors.Errors }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="submit" value="Upload" />
</form>


{% endblock %}
