<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Datatypes{% endblock %}

{% block javascript %}
<script src="static/portal/jQuery-2.0.3.min.js"></script>
<script src="static/metadata/datatypes.js"></script><!-- MIME type is only required for inline javascript as the server should supply it in the HTTP header -->
{% endblock %}

{% block content %}

<a href="/datatypes">return to Datatypes summary</a>

<h2>Add a new datatype</h2>

<!-- Form for inserting new Datatypes -->
<h3>New datatype</h3>
<form action="" method="post">{% csrf_token %}
    <table>
    {% for field in datatype_form %}
        <tr>
        <th>{{ field.label_tag }}</th>
        <td>
            {{ field.errors }}
            {{ field }} 
            <div class="helptext">{{ field.help_text }}</div>
        </td>
        </tr>
    {% endfor %}
    </table>

    <h3>Basic constraints</h3>

    <div id="int_constraints" class="constraints">
    {{ int_con_form.errors }}
    <table>
    {% for field in int_con_form %}
        <tr>
        <th>{{ field.label_tag }}</th>
        <td>
            {{ field.errors }}
            {{ field }} 
            <div class="helptext">{{ field.help_text }}</div>
        </td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <div id="str_constraints" class="constraints">
    {{ str_con_form.errors }}
    <table>
    {% for field in str_con_form %}
        <tr>
        <th>{{ field.label_tag }}</th>
        <td>
            {{ field.errors }}
            {{ field }} 
            <div class="helptext">{{ field.help_text }}</div>
        </td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <input type="submit" value="Submit" />
</form>


{% endblock %}
