<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Datatypes{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<a href="/datatypes" rel="prev">Return to summary view</a>
<h2><tt>{{ datatype.name }}</tt></h2>


<h3>Details</h3>
<table>
<tr>
    <td>Name</td>
    <td>{{ datatype.name }}</td>
</tr>
<tr>
    <td>Date created</td>
    <td>{{ datatype.date_created }}</td>
</tr>
<tr>
    <td>Description</td>
    <td>{{ datatype.description }}</td>
</tr>
{% if datatype.restricts.exists %}
<tr>
    <td>Restricts</td>
    <td><ul>
        {% for r in datatype.restricts.all %}
        <li>{{ r }}</li>
        {% endfor %}
    </ul></td>
</tr>
{% endif %}
<tr>
    <td>Creator</td>
    <td>{{ datatype.user }}</td>
</tr>
{% if datatype.users_allowed.exists %}
<tr>
    <td>Users allowed</td>
    <td><ul>
        {% for user in datatype.users_allowed.all %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul></td>
</tr>
{% endif %}
{% if datatype.groups_allowed.exists %}
<tr>
    <td>Groups allowed</td>
    <td><ul>
        {% for group in datatype.groups_allowed.all %}
        <li>{{ group }}</li>
        {% endfor %}
    </ul></td>
</tr>
{% endif %}
</table>

{% if constraints %}
<h3>Basic constraints</h3>

<table>
<thead>
    <th>Rule type</th>
    <th>Specification</th>
</thead>
{% for bc in constraints %}
<tr>
    <td>{{ bc.ruletype }}</td>
    <td>{{ bc.rule }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
