<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Datatypes{% endblock %}

{% block javascript %}
<script src="static/portal/jquery-2.0.3.min.js"></script>
<script src="static/metadata/datatype_add.js"></script><!-- MIME type is only required for inline javascript as the server should supply it in the HTTP header -->
{% endblock %}

{% block content %}

<a href="/datatypes" rel="prev">return to Datatypes summary</a>

<h2>Add a new datatype</h2>

<!-- Form for inserting new Datatypes -->
<h3>New datatype</h3>
<form action="" method="post">{% csrf_token %}
    <table>
        <tr>
            <th>{{ datatype_form.name.label_tag }}</th>
            <td><div class="helptext">{{ datatype_form.name.help_text }}</div></td>
            <td>{{ datatype_form.name }}</td>
            <td class="errortext">{{ datatype_form.name.errors }}</td>
        </tr>
        <tr>
            <th>{{ datatype_form.description.label_tag }}</th>
            <td><div class="helptext">{{ datatype_form.description.help_text }}</div></td>
            <td>{{ datatype_form.description }}</td>
            <td class="errortext">{{ datatype_form.description.errors }}</td>
        </tr>
        <tr>
            <th>{{ datatype_form.restricts.label_tag }}</th>
            <td><div class="helptext">{{ datatype_form.restricts.help_text }}</div></td>
            <td>{{ datatype_form.restricts }}</td>
            <td class="errortext">
                <div id="bad_restrictions" class="errortext"></div>
                {{ datatype_form.restricts.errors }}
            </td>
        </tr>
    </table>

    <!-- field set contextually by JavaScript -->
    <div id='id_to_hide'>{{ datatype_form.Python_type }}</div>


    <h3>Basic constraints</h3>

    <div id="int_constraints" class="constraints">
    <table>
    {% for field in int_con_form %}
        <tr>
        <th>{{ field.label_tag }}</th>
        <td><div class="helptext">{{ field.help_text }}</div></td>
        <td>{{ field }} </td>
        <td style="width: 200px" class="errortext">{{ field.errors }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <div id="str_constraints" class="constraints">
    <table>
    {% for field in str_con_form %}
        <tr>
        <th>{{ field.label_tag }}</th>
        <td><div class="helptext">{{ field.help_text }}</div></th>
        <td>{{ field }}</td>
        <td class="errortext">{{ field.errors }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <input type="submit" value="Submit" />
</form>


{% endblock %}
