<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Datatypes{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<a href="/datatypes" rel="prev">Return to summary view</a>
<h2>Detailed view &mdash; <tt>{{ datatype.name }}</tt></h2>


<h3>Details</h3>
<table>
<tr>
    <td>Name</td>
    <td>{{ datatype.name }}</td>
</tr>
<tr>
    <td>Date created</td>
    <td>{{ datatype.date_created }}</td>
</tr>
<tr>
    <td>Description</td>
    <td>{{ datatype.description }}</td>
</tr>
{% for r in datatype.restricts.all %}
<tr>
    <td>Restricts</td>
    <td>{{ r }}</td>
</tr>
{% endfor %}
</table>

<h3>Basic constraints</h3>

<table>
<thead>
    <th>Rule type</th>
    <th>Specification</th>
</thead>
{% for bc in constraints %}
<tr>
    <td>{{ bc.ruletype }}</td>
    <td>{{ bc.rule }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
