KIVE_DEBUG=False
KIVE_MEDIA_ROOT={{ kive_media_root | quote }}
KIVE_DB_NAME={{ kive_db_name | quote }}
KIVE_DB_USER={{ kive_db_user | quote }}
KIVE_DB_HOST={{ kive_db_host | quote }}
KIVE_DB_PASSWORD={{ kive_db_password | quote }}
KIVE_SERVER_EMAIL={{ kive_server_email | quote }}
KIVE_ADMINS={{ kive_admins | quote }}
KIVE_SUBJECT_PREFIX={{ kive_subject_prefix | quote }}

# The KIVE_PURGE_START, KIVE_PURGE_STOP, and KIVE_LOG_LEVEL variables
# can be set in Ansible prior to deployment if you don't like the defaults
# in settings.py.
# KIVE_PURGE_START=20GB
# KIVE_PURGE_STOP=15GB
# KIVE_PURGE_DATASET_AGING=1.0
# KIVE_PURGE_LOG_AGING=10.0
# KIVE_PURGE_CONTAINER_AGING=10.0
# KIVE_PURGE_WAIT='0 days, 1:00:00'
# KIVE_PURGE_BATCH_SIZE=100
# KIVE_LOG_LEVEL=WARNING
{% if kive_purge_start is defined %}
KIVE_PURGE_START={{ kive_purge_start }}
{% endif %}
{% if kive_purge_stop is defined %}
KIVE_PURGE_STOP={{ kive_purge_stop }}
{% endif %}
{% if kive_log_level is defined %}
KIVE_LOG_LEVEL={{ kive_log_level }}
{% endif %}

# KIVE_LOG is set separately for each service in the .service files.
