<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% load filters %}

{% block title %}Pipeline Lookup{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/portal/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/librarian/md5.js"></script>
    <script type="text/javascript" src="/static/librarian/lookup.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/librarian/lookup.css"/>
{% endblock %}

{% block content %}
    <a href="usr.html" rel="prev">Back to user's portal</a>
    <h2>Find pipeline</h2>

    <div id="file_io_compat">
        <div id="dropzone">
            <div id="no_file">
                <h2 class="margin-fix dragfix" id="dz_text"> Drop a file here to search the database.</h2>
            </div>
            <div id="file_loaded">
                <h2 class="dragfix">
                    <span class="color-fix">Loaded file: <span id="id_filename"></span></span>
                </h2>
                <h3 class="dragfix"> MD5: <span id="id_md5sum"></span> </h3>
                <p class="color-fix dragfix">Click &quot;Search&quot; to proceed</p>
            </div>
        </div>
    <span>Or click <a id="filesel" href="#">here</a> to select a file.</span>
    </div>
    <form action="/datasets_lookup/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="upload_file" style="display:none">
        <input id='continuebtn' type="submit"  value="Search" disabled/>
    </form>
{% endblock %}
