[Unit]
Description=Back up Kive data.

[Service]
WorkingDirectory=/usr/local/share/Kive/utils

# See the relevant KIVE_BACKUP_* environment variables in backup_kive_data.py.
# They can also be set in the following configuration file (using standard BASH variable assignment syntax):
EnvironmentFile=/etc/kive/kive_backup.conf

User=kive

# Copy and fill in /usr/local/share/Kive/utils/backup_kive_data.json_default, and
# place your settings file at "/etc/kive/backup_kive_data.json".
ExecStart=/opt/venv_kive/bin/python backup_kive_data.py

# Allow the process to log its exit.
KillSignal=SIGINT
