[Unit]
Description=Purge Kive sandboxes that do not belong to any known Kive runs.

[Service]
WorkingDirectory=/usr/local/share/Kive/kive

# These are the relevant environment variables:
# Environment=KIVE_PURGE_START='20 GB'
# Environment=KIVE_PURGE_STOP='15 GB'
# Environment=KIVE_PURGE_DATASET_AGING='1.0'
# Environment=KIVE_PURGE_LOG_AGING='10.0'
# Environment=KIVE_PURGE_CONTAINER_AGING='10.0'
# Environment=KIVE_PURGE_WAIT='0 days, 1:00'
# They can also be set in the following configuration file (using standard BASH variable assignment syntax):
EnvironmentFile=/usr/local/etc/kive/kive_purge.conf

User=vagrant

# Launch a wrapper, because we can't specify a name for the resulting pickle file
# that contains a date as returned from the `date` command.
ExecStart=/opt/venv_kive/bin/python manage.py purge --synch

# Allow the process to log its exit.
KillSignal=SIGINT
