{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
	<script src="/static/portal/noxss.js"></script>
	<script src="/static/sandbox/sandbox.js"></script>
    <script src="/static/pipeline/jsBezier-0.6.js"></script>
    <script src="/static/pipeline/drydock_objects.js"></script>
    <script src="/static/pipeline/drydock.js"></script>
    <script src="/static/pipeline/pipeline_load.js"></script>
    <script type="text/javascript">

// place in global namespace to access from other files
var submit_to_url = '/pipeline_add';

var rawNodeWidth = 20,
    rawNodeHeight = 25,
    rawNodeColour = "#8D8",
    rawNodeInset = 10,
    rawNodeOffset = 10;

var cdtNodeWidth = 45,
    cdtNodeHeight = 28,
    cdtNodeColour = '#88D',
    cdtNodeInset = 13,
    cdtNodeOffset = 15;

var mNodeWidth = 40,
    mNodeInset = 5,
    mNodeSpacing = 10,
    mNodeColour = '#999',
    mNodeOffset = 5;

var load_preview_canvas = function() {
    var $this = $(this),
        this_ = this,
        pkey = $this.closest('.results').data('pkey');
    $.ajax({
        type: "POST",
        url: "/get_pipeline/",
        data: { pipeline_id: $this.closest('tr').get_pkey(pkey) },
        datatype: "json",
        success: function(result) {
            this_.width  = 120,
            this_.height = 90;
            var cs = new CanvasState(this_);
            cs.setScale(0.12);
            cs.enable_labels = false;
            // reset containers to reflect canvas
            cs.shapes = [];
            cs.connectors = [];
            cs.exec_order = [];
            cs.selection = [];
            submit_to_url = result['family_pk'];
//            var i, j, k; // counters
//            var node, cables, cable, connector, shape, source, magnet;
            draw_inputs(cs, result);
            cs.testExecutionOrder();
            for (var i = 0; i < cs.shapes.length; i++) {
                cs.detectCollisions(cs.shapes[i], 0.5);
            }
        }
    });
};

$(function() {
    $('canvas.preview').each(load_preview_canvas);
});

    </script>
	<link rel="stylesheet" href="/static/sandbox/sandbox.css">
{% endblock %}

{% block content %}

<a href="usr.html" rel="prev">Back to user portal</a>

<h2>Analysis</h2>

<p>
Select a pipeline
</p>

{% if pipeline_forms|length > 0 %}
	<div class="filter_ctrl">
		<form class="short-filter">
		<input name="name" type="text" data-link="Smart"><!--
		    /* There will be a time and a place for this. That time is not now. */
		    <input type="button" class="advanced ctrl" value="Advanced">
		--><input type="submit" value="Filter">
		</form>
		
<!--		<form class="advanced-filter">
	    <h4>Advanced search</h4>
		<label for="name">Name</label>
		<input name="name" type="text" data-link="Name">
		<input name="uploads" type="checkbox" data-link="Uploaded">
		<label for="uploads">Show only user uploads</label>
		<input type="submit" value="Filter">
		</form>-->
	</div>

	<div class="active_filters"></div>

	<div class="no_results">
		<strong>No results were found.</strong>
	</div>
{% endif %}
{% if pipeline_forms|length > 0 %}
    <div class="results" data-pkey="Revision:selected" data-ajax-url="filter_pipelines">
        <table id="pipeline_table">
        <thead>
            <tr>
                <th>Pipeline Family</th>
                <th>Thumbnail</th>
                <th>Revision</th>
            </tr>
        </thead>
        <tbody>
            {% for form in pipeline_forms %}
            <tr>
                <td>{{ form.family_name }}</td>
                <td class="preview-canvas"><canvas class="preview">Warning: Kive does not support your web browser.</canvas></td>
                <td>{{ form.pipeline }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <input type="hidden" class="tbselect-value" value="">
    <form action="choose_inputs" method="get" id="choose_inputs">
        <input type="submit" value="Choose inputs">
	</form>
{% else %}
    <div class="greyedout">
        There's nothing here.
    </div>
{% endif %}

<div class="errortext">{{ error_msg }}</div>
<div id="errors" class="errortext"></div>

{% endblock %}
