{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
	<script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/pipeline/jsBezier-0.6.js"></script>
    <script src="/static/pipeline/drydock_objects.js"></script>
    <script src="/static/pipeline/drydock.js"></script>
    <script src="/static/pipeline/pipeline_load.js"></script>
    <script src="/static/sandbox/choose_pipeline.js"></script>
    <script type="text/javascript">
$(function() {
    // Security stuff to prevent cross-site scripting.
    noXSS();

    var $rows_json = $('#rows_json'),
        rows = JSON.parse($rows_json.text()),
        $table = $('#pipeline_families'),
        is_user_admin = false; // Never show admin tools on this page
    $rows_json.detach();
    
    var table = new choose_pipeline.PipelineFamiliesTable(
            $table,
            is_user_admin,
            $('#active_filters'));
    table.buildTable(rows);

    $('form.short-filter').submit(function(e) {
        e.preventDefault();
        table.filterSet.addFromForm(this);
    });
});
    </script>
	<link rel="stylesheet" href="/static/sandbox/sandbox.css">
{% endblock %}

{% block content %}

<a href="usr.html" rel="prev">Back to user portal</a>

<h2>Analysis</h2>

<p>
Select a pipeline
</p>

<div class="filter_ctrl">
    <form class="short-filter">
        <input name="smart" type="text"><input type="submit" value="Filter">
    </form>
</div>
<div id="active_filters"></div>

<div class="results2">
    <table id="pipeline_families">
    </table>
</div>

<div style="display:none" id="rows_json">{{rows_json}}</div>

<div class="errortext">{{ error_msg }}</div>
<div id="errors" class="errortext"></div>

{% endblock %}
