{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/sandbox/jq_color_anim.min.js"></script>
    <script src="/static/sandbox/choose_inputs.js"></script>
    <script type="text/javascript">
$(function() {
    // Security stuff to prevent cross-site scripting.
    noXSS();

    var is_user_admin = false; // Never show admin tools on this page
    $('#input_forms table').each(function() {
        var $table = $(this),
            $li = $table.closest('li'),
            $navigation_links = $li.find(".navigation_links"),
            $active_filters = $li.find('.active_filters'),
            $forms = $li.find('form'),
            compounddatatype_id = $table.data('compounddatatype_id'),
            input_index = $table.data('input_index');
        var table = new choose_inputs.DatasetsTable(
                $table,
                is_user_admin,
                input_index,
                compounddatatype_id,
                $active_filters,
                $navigation_links
        );
        table.filterSet.add('uploaded');
        $forms.submit(function(e) {
            e.preventDefault();
            table.filterSet.addFromForm(this);
        });
    });
    
    $('.advanced-filter').prepend(
            '<input type="button" class="close ctrl" value="Close">');

    $('input[value="Advanced"]').on('click', function() {
        $(this).closest('.short-filter').fadeOut({ complete: function() {
            $(this).siblings('.advanced-filter').fadeIn()
                .closest('li').addClass('advanced');
        } });
    });

    $('.advanced-filter input.close.ctrl').on('click', function() {
        $(this).closest('.advanced-filter').fadeOut({ complete: function() {
            $(this).siblings('.short-filter').fadeIn()
                .closest('li').removeClass('advanced');
        } });
    });
    
    $('#run_pipeline').submit(function(e) {
        var $inputs = $('#input_forms input[type="radio"]'),
            $clones = $inputs.clone();
        $clones.hide();
        $(this).append($clones);
    });

    // Pack help text into an unobtrusive icon
    $('.helptext', 'form').each(function() {
        var $this = $(this);
        $this.wrapInner('<span class="fulltext"></span>').prepend('<a rel="ctrl">?</a>');
    });

    $('a[rel="ctrl"]').on('click', function (e) {
        $(this).siblings('.fulltext').show().css({ top: e.pageY, left: e.pageX, 'z-index': 3 });
        setTimeout(function() { $('.fulltext').fadeOut(300); }, 5000);
    });
    
});
    </script>
    <link rel="stylesheet" href="/static/sandbox/sandbox.css">
    <link rel="stylesheet" href="/static/portal/search.css">
    <link rel="stylesheet" href="/static/portal/permissions.css">
{% endblock %}

{% block widget_media %}
{{ run_submission_form.media }}
{% endblock %}

{% block content %}

<a href="choose_pipeline" rel="prev">Back to pipeline selection</a>

<h2>Choose pipeline inputs</h2>

<h3>Pipeline {{ pipeline }} </h3>

<ul id="input_forms">
{% for input in inputs %}
    <li>
        <h3>Input {{ input.dataset_idx }}: <code>{{ input.dataset_name }}</code></h3>
    <div class="filter_ctrl">
        <form class="short-filter">
        <input name="smart" type="text"
            ><input type="button" class="advanced ctrl" value="Advanced"
            ><input type="submit" value="Filter">
        </form>
        
        <form class="advanced-filter">
        <h4>Advanced search</h4>
        <label>Name<input name="name" type="text"></label>
        <label><input name="uploaded" type="checkbox">Show only user uploads</label>
        <input type="submit" value="Filter">
        </form>
    </div>

    <div class="active_filters"></div>

    <div class="navigation_links"></div>

    <div class="results2">
        <table data-compounddatatype_id="{{ input.compounddatatype.id }}"
            data-input_index="{{ input.dataset_idx }}"></table>
    </div>
    
    </li>
{% endfor %}
</ul>

<div id="errors" class="errortext">{{ input_error_msg }}</div>

<form action="run_pipeline" id="run_pipeline" method="post">

    <div id="name_description">
    <table>
        <tr>
            <td>{{ run_submission_form.name.label }}</td>
            <td>
                {{ run_submission_form.name }}
                <div class="helptext">{{ run_submission_form.name.help_text }}</div>
                <div class="errortext">{{ run_submission_form.name.errors }}</div>
            </td>
        </tr>
        <tr>
            <td>{{ run_submission_form.description.label }}</td>
            <td>
                {{ run_submission_form.description }}
                <div class="helptext">{{ run_submission_form.description.help_text }}</div>
                <div class="errortext">{{ run_submission_form.description.errors }}</div>
            </td>
        </tr>
    </table>
    </div>

    <p>{{ run_submission_form.permissions.label }}:
        <span class="helptext">{{ run_submission_form.permissions.help_text }}</span>
    {{ run_submission_form.permissions }}
        <div class="errortext">{{ run_submission_form.permissions.errors }}</div>
    </p>

    {{ run_submission_form.pipeline }}
        <div class="errortext">{{ run_submission_form.pipeline.errors }}</div>
        <div class="errortext">{{ run_submission_form.non_field_errors }}</div>
    {% csrf_token %}
    <input type="submit" id="submit" value="Go">
</form>

<div id="progress"></div>
<div id="details"></div>

{% endblock %}
