{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
	<script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/portal/ajaxsearchfilter.js"></script>
    <script src="/static/portal/system.js"></script>
    <script src="/static/portal/system.config.js"></script>
    <script type="text/javascript">

    System.import('/static/sandbox/PipelineRunTable').then(function() {
        var IS_USER_ADMIN = false; // Never show admin tools on this page
        var table = new permissions.PipelineRunTable(
                $('#pipeline_families'),
                IS_USER_ADMIN,
                $(".navigation_links")
        );
        var asf = new AjaxSearchFilter(table);
        asf.reloadTable();
    });

    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/sandbox/sandbox.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
{% endblock %}

{% block content %}

<a href="usr.html" rel="prev">Back to user portal</a>

<h2>Analysis</h2>

<p>
Please select a pipeline you would like to run on this page.
</p>

<form class="asf-form">
    <div class="asf-main-search">
        <div class="asf-active-filters"></div>
        <input type="text" name="smart" class="asf-search-field">
        <input type="submit" value="Filter" class="asf-search-button">
    </div>
</form>

<div class="navigation_links"></div>

<div class="results2">
    <table id="pipeline_families"></table>
</div>

<div class="errortext">{{ error_msg }}</div>
<div id="errors" class="errortext"></div>

{% endblock %}
