{% extends "portal/base.html" %}

{% block title %}Runs{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/sandbox/runs.js"></script>
    <script src="/static/sandbox/jq_color_anim.min.js"></script>

    <script type="text/javascript">
        var user = "{{ user.get_username }}",
            is_user_admin = {{ is_user_admin|lower }};
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block content %}

<a href="usr.html" rel="prev">Back to user portal</a>

<h2>Runs</h2>
    <div class="filter_ctrl">
        <form class="short-filter">
        <input name="name" type="text"
            ><input type="button" class="advanced ctrl" value="Advanced"
            ><input type="submit" value="Filter">
        </form>
        
        <form class="advanced-filter">
        <h4>Advanced search</h4>
        <table>
        <tr>
            <td><label>Name<input name="name" type="text"/></label></td>
        </tr>
        <tr>
            <td><label>Creator<input name="user" type="text"/></label></td>
            <td><label><input
                name="active"
                type="checkbox"/>Is active</label></td>
        </tr>
        <tr>
            <td><label>Started after<input
                name="startafter"
                type="text"
                class="datetime"/></label>
            <td><label>Started before<input
                name="startbefore"
                type="text"
                class="datetime"/></label>
        </tr>
        <tr>
            <td><label>Ended after<input
                name="endafter"
                type="text"
                class="datetime"/></label>
            <td><label>Ended before<input
                name="endbefore"
                type="text"
                class="datetime"/></label>
        </tr>
        </table>
        <input type="submit" value="Filter"/>
        </form>
    </div>

    <div id="active_filters"></div>

    <div class="navigation_links"></div>

    <div class="results">
        <table id="runs">
                <caption>showing all matching runs</caption>
        </table>
    </div>

    <div class="no_results">
        <strong>No matching runs were found.</strong>
    </div>

    
{% endblock %}
