<!-- Django template -->
<!-- Displays a Run-->

{% extends "portal/base.html" %}

{% block title %}Viewing run {{ run.display_name }} (Run {{ run.pk }}){% endblock %}

{% block javascript %}
    <script src="/static/portal/noxss.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/pipeline/drydock.css"/>
    <style>
        #canvas {  }
        #run_status img {
            vertical-align: middle;
        }
        .pipeline_rdonly_ctrl {
            position: absolute;
            right: 1em;
            top: 80px;
            width: 20%;
            min-width: 150px;
            border: 1px solid #aaa;
            padding: 1em;
            background-color: #fff;
        }
        .pipeline_rdonly_ctrl ul {
            padding: 0;
        }
        .pipeline_rdonly_ctrl li {
            display: block;
        }
        .pipeline_rdonly_ctrl h4 {
            margin-top: 0;
            font-size: 1.3em;
            word-break: break-all;
        }
        .pipeline_rdonly_ctrl h5 {
            margin-bottom: 0.5em;
        }
    </style>
{% endblock %}

{% block content %}
    {% if md5 != None %}
        <a href="/datasets_lookup/{{md5}}" rel="prev">Back to matching list</a>
    {% else %}
        <a href="/runs" rel="prev"> Back to runs </a>
    {% endif %}

    <div class="pipeline_rdonly_ctrl">
        <h4>
            {% if run.description != "" %}
            <span title="{{ run.description }}">
            {% endif %}
            {{ run.display_name }}
            {% if run.description != "" %}
            </span>
            {% endif %}
        </h4>
        <ul>
            {% if run.pipeline.revision_name|length <= 0 %}
                <li> <h5>Pipeline family</h5> {{ run.pipeline.family }} </li>
            {% else %}
                <li> <h5>Pipeline</h5> {{ run.pipeline.revision_name }} ({{ run.pipeline.family }})</li>
            {% endif %}
            <li class="new_ctrl"><h5>Revision #</h5> {{ run.pipeline.revision_number }}</li>

            {% if run.pipeline.revision_desc|length <= 0 %}
                {% if run.pipeline.family.description|length > 0 %}
                    <li class="new_ctrl">{{ run.pipeline.family.description }}</li>
                {% endif %}
            {% else %}
                    <li class="new_ctrl">{{ run.pipeline.revision_desc }}</li>
            {% endif %}
            <li> <h5>Run status</h5> <span id="run_status">Checking...</span> </li>
        </ul>
    </div>

    <!-- CANVAS -->
    <canvas id="pipeline_canvas">HTML5 Canvas not supported by this browser.</canvas>

    <!-- Context menu -->
    <div id="context_menu"></div>

    <input type="hidden" id="run_id" value="{{run.id}}">
    <input type="hidden" id="run_pipeline_id" value="{{run.pipeline.id}}">
    <input type="hidden" id="run_md5" value="{{ md5 }}">

    <script src="/static/portal/view_run.bundle.js"></script>

{% endblock %}
