body {
	font: 14pt 'Lato', sans-serif;
	margin: 0;
	background: url('/static/bg_tile.png');
}
a:link {
    text-decoration: none;
    color: #4ae;
}
a:link:hover {
    background-color: #fdd;
}
a:visited {
    color: #38c;
}
#wrapper {
    width: 80%;
    max-width: 55em;
    min-width: 35em;
    background-color: #fff;
    border-left: 3px solid #06a;
    padding: 0 0 1em 0;
    position: absolute;
    top: 0; bottom: 0;
}
table {
    border: 0;
    border-collapse: collapse;
    padding: 0px;
    border-spacing: 12px 12px;
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
    margin-bottom: 1.5em;
}
thead {
    border-bottom: 1pt solid black;
}
th, td {
    padding: .5em;
}
tr:hover td {
    background-color: #f0f0f0;
}
#wrapper > p,
#wrapper > a,
#wrapper > h2,
#wrapper > h3,
#wrapper > table {
    margin: .5em 2em .5em 4em;
}
#wrapper > a {
    font-size: .8em;
    margin-left: 5em;
}
#wrapper > h2 {
    font-size: 1.333em;
    margin-left: 3em;
}
h1 {
    font-size: 2em;
    text-transform: uppercase;
    background: #444;
    color: #fff;
    margin: 0 0 1.5em;
    padding: 1em 2em 0;
    line-height: .8em;
}
h3 {
    font-size: 1em;
}

nav ul {
    list-style: none;
    display: block;
    padding: 0;
}
nav a:link {
    display: block;
    background: #f8f8f8;
    text-decoration: inherit;
    color: inherit;
    padding: 1em 2em 1em 4em;
    border-bottom: 1px solid #fff;
}
nav a:visited {
    color: inherit;
}
nav a:link:hover {
    background: #f8fcff;
}
nav a:link:hover:before {
    content: "\25B8";
    float: left;
    margin-left: -1.5em;
    font-size: 1.2em;
}
nav li:first-child a {
    border-top: 1px solid #fff;
}
nav h4 {
    font-size: 1.2em;
    margin: 0;
}
nav .menu-description {
    margin: .3em 0 0;
}