<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Add a new method{% endblock %}

{% block javascript %}
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script src="/static/method/method_add.js"></script>
{% endblock %}

{% block content %}

<a href="/methods" rel="prev">return to Methods summary</a>

<h2>Add a new method</h2>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

<p>
    A Method is the application of a CodeResource to data.  Because there can be
    more than one way to use a given CodeResource, there can be multiple Methods
    defined on the same CR.  Thus, a Method's NAME and DESCRIPTION should be
    sufficiently informative to differentiate between different uses of a CR, or
    revisions of this specific Method.
</p>
    <table>
    {% for field in method_form %}
        <tr>
        <th>{{ field.label_tag }}</th>
        <td>
            {{ field }}
            <div class="helptext">{{ field.help_text }}</div>
        </td>
        <td>{{ field.errors }}</td>
        </tr>
    {% endfor %}
    </table>



<h3>Inputs/Outputs</h3>
    <p>
        An input/output is how we plug <i>structured</i> (comma-separated values, CSV) or <i>unstructured</i> data (any
        other format) into a CodeResource.
    </p>
    <p>
    <input type="button" id="addXputForm" value="+"/>
    <input type="button" id="removeXputForm" value="-"/>
    <small>Add/subtract input or output forms</small>
    </p>

    <table id="xputForms">
    <thead>
        <tr><th>Index</th><th>In/Out</th><th>Name</th><th>Compound datatype</th><th>Min. rows</th><th>Max. rows</th></tr>
    </thead>
    <tbody id="extraXputForms">
    {% for xput_form, struct_form in xput_forms %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ xput_form.input_output }}</td>
        <td>{{ xput_form.dataset_name }}</td>
        <td>{{ struct_form.compounddatatype }}</td>
        <td>{{ struct_form.min_row }}</td>
        <td>{{ struct_form.max_row }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


    <input type="submit" value="Submit" />
</form>


{% endblock %}
