<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Revise a method{% endblock %}

{% block javascript %}
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script src="/static/method/method_add.js"></script>
{% endblock %}

{% block content %}

<a href="/methods/{{ family.pk }}" rel="prev">return to Methods summary</a>

<h2>Revise method '{{ parent.revision_name }}' in family '{{ family.name }}'</h2>

<p>
Add a revision of this Method based on a revision of the same CodeResource.
</p>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}


<div class="errortext">
    {{ family_form.non_field_errors }}
    {{ method_revise_form.non_field_errors }}
</div>

<table>
    <tr>
        <th>Code resource</th>
        <td>
            {{ coderesource }}
        </td>
        <th>{{ method_revise_form.revisions.label }}</th>
        <td>
            {{ method_revise_form.revisions }}
            <div class="helptext">{{ method_revise_form.revisions.help_text }}</div>
            <br/>
            <div class="errortext">{{ method_revise_form.revisions.errors }}</div>
        </td>
    </tr>

    <tr>
        <th>{{ method_revise_form.reusable.label }}</th>
        <td>
            {{ method_revise_form.reusable }}
            <div class="helptext">{{ method_revise_form.reusable.help_text|escape|linebreaks }}</div>
            <br/>
            <div class="errortext">{{ method_revise_form.reusable.errors }}</div>
        </td>
        <th></th>
        <td></td>
    </tr>

    <tr>
        <th>{{ method_revise_form.users_allowed.label }}
            <div class="helptext">{{ method_revise_form.users_allowed.help_text }}</div>
        </th>
        <td style="font-style:italic">
            {% if parent.users_allowed.exists %}
            <ul>
            {% for user in parent.users_allowed.all %}
                <li>{{ user }}</li>
            {% endfor %}
            </ul>
            {% else %}
                None
            {% endif %}
        </td>
        <td>{{ method_revise_form.users_allowed }}<br>
            <div style="color:red">{{ method_revise_form.users_allowed.errors }}</div>
        </td>
    </tr>
    <tr>
        <th>{{ method_revise_form.groups_allowed.label }}
            <div class="helptext">{{ method_revise_form.groups_allowed.help_text }}</div>
        </th>
        <td style="font-style:italic">
            {% if parent.groups_allowed.exists %}
            <ul>
            {% for group in parent.groups_allowed.all %}
                <li>{{ group }}</li>
            {% endfor %}
            </ul>
            {% else %}
                None
            {% endif %}
        </td>
        <td>{{ method_revise_form.groups_allowed }}<br>
            <div style="color:red">{{ method_revise_form.groups_allowed.errors }}</div>
        </td>
    </tr>

    <tr>
        <th>{{ method_revise_form.threads.label }}</th>
        <td>
            {{ method_revise_form.threads }}
            <div class="helptext">{{ method_revise_form.threads.help_text }}</div>
            <br/>
            <div class="errortext">{{ method_revise_form.threads.errors }}</div>
            <br/>
        </td>
        <th></th>
        <td></td>
    </tr>

    <tr>
        <th>Method<br/> revision name<br/><span class="smalltxt">Optional</span></i></th>
            <td>
                {{ method_revise_form.revision_name }}
                <div class="helptext">{{ method_revise_form.revision_name.help_text }}</div>
                <br/>
                <div class="errortext">{{ method_revise_form.revision_name.errors }}</div>
            </td>
        <th>{{ method_revise_form.revision_desc.label }}</th>
            <td>
                {{ method_revise_form.revision_desc }}
                <div class="helptext">{{ method_revise_form.revision_desc.help_text }}</div>
                <br/>
                <div class="errortext">{{ method_revise_form.revision_desc.errors }}</div>
            </td>
    </tr>
</table>


<h3>Inputs</h3>
    <input type="button" id="addInputForm" class="add" value="+"/><input type="button" id="removeInputForm" class="remove" value="&minus;"/>
    <small>Add/subtract input or output forms</small>


    <table id="inputForms" class="formtable">
    <thead>
        <tr><th>Index</th><th>Name</th><th>Compound datatype</th><th>Min. rows</th><th>Max. rows</th></tr>
    </thead>
    <tbody id="extraInputForms">
    {% for xput_form, struct_form in input_forms %}
        <tr>
        <td>{{ forloop.counter }}
            <div class="errortext">{{ xput_form.non_field_errors }}</div>
            <div class="errortext">{{ struct_form.non_field_errors }}</div>
        </td>
        <td>{{ xput_form.dataset_name }}<br/><div class="errortext">{{ xput_form.dataset_name.errors }}</div></td>
        <td>{{ struct_form.compounddatatype }}
            <div class="errortext">{{ struct_form.compounddatatype.errors }}</div>
        </td>
        <td>{{ struct_form.min_row }}
            <div class="errortext">{{ struct_form.min_row.errors }}</div>
        </td>
        <td>{{ struct_form.max_row }}
            <div class="errortext">{{ struct_form.max_row.errors }}</div>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

<h3>Outputs</h3>
    <input type="button" id="addOutputForm" class="add" value="+"/><input type="button" id="removeOutputForm" class="remove" value="&minus;"/>
    <small>Add/subtract input or output forms</small>

    <table id="outputForms" class="formtable">
    <thead>
        <tr><th>Index</th><th>Name</th><th>Compound datatype</th><th>Min. rows</th><th>Max. rows</th></tr>
    </thead>
    <tbody id="extraOutputForms">
    {% for xput_form, struct_form in output_forms %}
        <tr>
        <td>{{ forloop.counter }}
            <div class="errortext">{{ xput_form.non_field_errors }}</div>
            <div class="errortext">{{ struct_form.non_field_errors }}</div>
        </td>
        <td>{{ xput_form.dataset_name }}<br/><div class="errortext">{{ xput_form.dataset_name.errors }}</div></td>
        <td>{{ struct_form.compounddatatype }}
            <div class="errortext">{{ struct_form.compounddatatype.errors }}</div>
        </td>
        <td>{{ struct_form.min_row }}
            <div class="errortext">{{ struct_form.min_row.errors }}</div>
        </td>
        <td>{{ struct_form.max_row }}
            <div class="errortext">{{ struct_form.max_row.errors }}</div>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


    <input type="submit" value="Submit" />
</form>


{% endblock %}
