<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Methods{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<a href="dev.html">Back to developer's portal</a>

<h2>Methods</h2>

<p>
A Method is a set of instructions on how a Code Resource will be used.
</p>

<table>
<thead>
	<tr>
    <th>Family</th>
    <th>Name</th>
    <th>Description</th>
	<th>Driver</th>
    <th>Is random</th>
	</tr>
</thead>
{% for method in methods %}
<tr>
	<td>{{ method.family }}</a></td>
    <td><a href="{{ method.get_absolute_url }}">{{ method.revision_name }}</a></td>
	<td>{{ method.revision_desc }}</td>
    <td>{{ method.driver.revision_name }}</td>
    <td>{{ method.random }}</td>
</tr>
{% endfor %}
</table>

<a href="method_add">Add a new method</a>

{% endblock %}
