<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Revise a method{% endblock %}

{% block javascript %}
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script src="/static/method/method_add.js"></script>
{% endblock %}

{% block content %}

<a href="/methods/{{ family.pk }}" rel="prev">return to Methods summary</a>

<h2>Revise method '{{ parent.revision_name }}' in family '{{ family.name }}'</h2>

<p>
Add a revision of this Method based on a revision of the same CodeResource.
</p>

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}


<table>
    <tr>
        <th>Code resource</th>
        <td>
            {{ coderesource }}
        </td>
        <th>{{ method_form.revisions.label }}</th>
        <td>
            {{ method_form.revisions }}
            <div class="helptext">{{ method_form.revisions.help_text }}</div>
            <br/>
            <div class="errortext">{{ method_form.revisions.errors }}</div>
            <br/>
        </td>
    </tr>

    <tr>
        <th>{{ method_form.deterministic.label }}</th>
        <td>
            {{ method_form.deterministic }}
            <div class="helptext">{{ method_form.deterministic.help_text }}</div>
        </td>
        <th></th>
        <td></td>
    </tr>

    <tr>
        <th>Method<br/> revision name<br/><i>Optional</i></th>
                    <td>
                        {{ method_form.revision_name }}
                        <div class="helptext">{{ method_form.revision_name.help_text }}</div>
                        <br/>
                        <div class="errortext">{{ method_form.errors.name }}</div>
                    </td>
        <th>{{ method_form.revision_desc.label }}</th>
                    <td>
                        {{ method_form.revision_desc }}
                        <div class="helptext">{{ method_form.revision_desc.help_text }}</div>
                        <br/>
                        <div class="errortext">{{ method_form.errors.description }}</div>
                    </td>
    </tr>
</table>


<h3>Inputs</h3>
    <input type="button" id="addInputForm" class="add" value="+"/><input type="button" id="removeInputForm" class="remove" value="&minus;"/>
    <small>Add/subtract input or output forms</small>


    <table id="inputForms" class="formtable">
    <thead>
        <tr><th>Index</th><th>Name</th><th>Compound datatype</th><th>Min. rows</th><th>Max. rows</th></tr>
    </thead>
    <tbody id="extraInputForms">
    {% for xput_form, struct_form in input_forms %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ xput_form.dataset_name }}<br/><div class="errortext">{{ xput_form.errors.dataset_name }} </div></td>
        <td>{{ struct_form.compounddatatype }}<div class="errortext">{{ struct_form.errors.compounddatatype }} </div></td>
        <td>{{ struct_form.min_row }}</td>
        <td>{{ struct_form.max_row }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

<h3>Outputs</h3>
    <input type="button" id="addOutputForm" class="add" value="+"/><input type="button" id="removeOutputForm" class="remove" value="&minus;"/>
    <small>Add/subtract input or output forms</small>

    <table id="outputForms" class="formtable">
    <thead>
        <tr><th>Index</th><th>Name</th><th>Compound datatype</th><th>Min. rows</th><th>Max. rows</th></tr>
    </thead>
    <tbody id="extraOutputForms">
    {% for xput_form, struct_form in output_forms %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ xput_form.dataset_name }}<br/><div class="errortext">{{ xput_form.errors.dataset_name }} </div></td>
        <td>{{ struct_form.compounddatatype }}<div class="errortext">{{ struct_form.errors.compounddatatype }} </div></td>
        <td>{{ struct_form.min_row }}</td>
        <td>{{ struct_form.max_row }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


    <input type="submit" value="Submit" />
</form>


{% endblock %}
