<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Add code resource revision{% endblock %}

{% block javascript %}
<script src="/static/portal/jquery-2.0.3.min.js"></script>
<script src="/static/method/resource_add.js"></script>
{% endblock %}

{% block content %}

<a href="/resources" rel="prev">return to Code Resource summary</a>

<h2>Add revision of {{ coderesource }}</h2>

{{ resource_form.non_field_errors }}

<!-- Form for inserting new Datatypes -->
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <!-- this form is pre-populated with the data of the last revision -->
        <tr>
            <td></td>
            <th>{{ parent_revision.revision_name }} ({{ parent_revision.revision_number }})</th>
            <th><i>Revision</i> ({{ coderesource.num_revisions|add:"1" }})</th>
        </tr>
        <tr>
            <th>{{ revision_form.content_file.label }} <div class="helptext">{{ revision_form.content_file.help_text }}</div></th>
            <td style="font-style:italic">{{ parent_revision.filename }}</td>
            <td>{{ revision_form.content_file }}<br>
                <div style="color:red">{{ revision_form.content_file.errors }}</div></td>
        </tr>
        <tr>
            <th>
                {{ revision_form.revision_name.label }}
                <div class="helptext">{{ revision_form.revision_name.help_text }}</div>
                <br/>
                <i>&nbsp;Optional</i>
            </th>
            <td></td>
            <td>{{ revision_form.revision_name }}
                <div style="color:red">{{ revision_form.revision_name.errors }}</div>
            </td>

        </tr>
        <tr>
            <th>{{ revision_form.revision_desc.label }} <div class="helptext">{{ revision_form.revision_desc.help_text }}</div></th>
            <td style="font-style:italic">{{ parent_revision.revision_desc }}</td>
            <td>{{ revision_form.revision_desc }}<br>
                <div style="color:red">{{ revision_form.revision_desc.errors }}</div>
            </td>
        </tr>
        <tr>
            <th>{{ revision_form.users_allowed.label }} <div class="helptext">{{ revision_form.users_allowed.help_text }}</div></th>
            <td style="font-style:italic">
                {% if parent_revision.users_allowed.exists %}
                <ul>
                {% for user in parent_revision.users_allowed.all %}
                    <li>{{ user }}</li>
                {% endfor %}
                </ul>
                {% else %}
                    None
                {% endif %}
            </td>
            <td>{{ revision_form.users_allowed }}<br>
                <div style="color:red">{{ revision_form.users_allowed.errors }}</div>
            </td>
        </tr>
        <tr>
            <th>{{ revision_form.groups_allowed.label }} <div class="helptext">{{ revision_form.groups_allowed.help_text }}</div></th>
            <td style="font-style:italic">
                {% if parent_revision.groups_allowed.exists %}
                <ul>
                {% for group in parent_revision.groups_allowed.all %}
                    <li>{{ group }}</li>
                {% endfor %}
                </ul>
                {% else %}
                    None
                {% endif %}
            </td>
            <td>{{ revision_form.groups_allowed }}<br>
                <div style="color:red">{{ revision_form.groups_allowed.errors }}</div>
            </td>
        </tr>
    </table>
    <h3>Dependencies</h3>
    <p>
       Dependencies are other code resource that this code resource requires to execute.  For example, a Python module
        comprised of classes in a single file considered to be a CR dependency (e.g., "import antigravity").
    </p>

    <input type="button" id="addDependencyForm" value="+" class="add" /><input type="button" id="removeDependencyForm" value="&minus;" class="remove"/> <small>Add/subtract dependency form fields</small><br/>
     <table class="formtable">
        <thead>
            <tr><th>Code resource</th><th>Revision</th><th>Path</th><th>Filename</th></tr>
        </thead>
        <tbody id="dependencyForms">
            {% for dep_form in dep_forms %}
            <tr>
                <td>{{ dep_form.coderesource }}</td>
                <td>{{ dep_form.revisions }}</td>
                <td>{{ dep_form.depPath }}</td>
                <td>{{ dep_form.depFileName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type="submit" value="Upload" />
</form>


{% endblock %}
