<!-- Django template -->

{% extends "portal/base.html" %}
{% block title %}Shipyard developer portal{% endblock %}

{% block content %}

<a href="/" rel="prev">Return to homepage</a>

<h2>Developer portal</h2>


<nav><ul>
    <li>
        <a href="/datatypes">
        <h4 class="menu-item">Datatypes</h4>
        <p class="menu-description">Inspect and add datatypes.</p>
        </a>
    </li>
    <li>
        <a href="/compound_datatypes">
        <h4 class="menu-item">Compound Datatypes</h4>
        <p class="menu-description">Gather datatypes for method inputs/outputs.</p>
        </a>
    </li>
    <li>
        <a href="/resources">
        <h4 class="menu-item">Code Resources</h4>
        <p class="menu-description">Access and upload code resources.</p>
        </a>
    </li>
    <li>
        <a href="/methods">
        <h4 class="menu-item">Methods</h4>
        <p class="menu-description">How to apply code resources to data sets.</p>
        </a>
    </li>
    <li>
        <a href="/pipelines">
        <h4 class="menu-item">Pipeline assembly</h4>
        <p class="menu-description">Assemble pipelines from methods.</p>
        </a>
    </li>
</ul></nav>


{% endblock %}
