<!-- Django template -->

{% extends "portal/base.html" %}
{% block title %}Shipyard developer portal{% endblock %}

{% block content %}
<h3>Developer portal</h3>

<p><a href="/">Return to homepage</a></p>

<nav><ul>
    <li>
        <a href="/datatypes">
        <h4 class="menu-item">Datatypes</h4>
        <p class="menu-description">Inspect and add datatypes.</p>
        </a>
    </li>
    <li>
        <a href="/compound_datatypes">
        <h4 class="menu-item">Compound Datatypes</h4>
        <p class="menu-description">Gather datatypes for method inputs/outputs.</p>
        </a>
    </li>
    <li>
        <a href="/resources">
        <h4 class="menu-item">Code Resources</h4>
        <p class="menu-description">Access and upload code resources.</p>
        </a>
    </li>
    <li>
        <a href="/methods">
        <h4 class="menu-item">Methods</h4>
        <p class="menu-description">How to apply code resources to data sets.</p>
        </a>
    </li>
</ul></nav>


{% endblock %}
