<!-- Django template -->

{% extends "portal/base.html" %}
{% block title %}Shipyard developer portal{% endblock %}

{% block content %}
<h3>User portal</h3>

<p><a href="/">Return to homepage</a></p>

<nav><ul>
<li>
        <a href="/datasets">
        <h4 class="menu-item">Datasets</h4>
        <p class="menu-description">Upload a new dataset</p>
        </a>
    </li>
    <li>
        <a href="/analysis">
        <h4 class="menu-item">Analysis</h4>
        <p class="menu-description">Apply a pipeline to one or more datasets.</p>
        </a>
</li>
</ul></nav>

{% endblock %}
