<!-- Django template -->

{% extends "portal/base.html" %}
{% block title %}Shipyard developer portal{% endblock %}

{% block content %}
<a href="/" rel="prev">Return to homepage</a>

<h2>User portal</h2>


<nav><ul>
<li>
        <a href="/datasets">
        <h4 class="menu-item">Datasets</h4>
        <p class="menu-description">Upload a new dataset</p>
        </a>
    </li>
    <li>
        <a href="/choose_pipeline">
        <h4 class="menu-item">Analysis</h4>
        <p class="menu-description">Apply a pipeline to one or more datasets.</p>
        </a>
</li>
</ul></nav>

{% endblock %}
