{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
	<script src="/static/portal/noxss.js"></script>
	<script src="/static/sandbox/sandbox.js"></script>
	<link rel="stylesheet" href="/static/sandbox/sandbox.css">
{% endblock %}

{% block content %}

<a href="usr.html" rel="prev">Back to user portal</a>

<h2>Analysis</h2>

<p>
Select a pipeline
</p>

{% if pipeline_forms|length > 0 %}
	<div class="filter_ctrl">
		<form class="short-filter" action="filter_pipelines">
		<input name="name" type="text" data-link="Smart"><!--
		    /* There will be a time and a place for this. That time is not now. */
		    <input type="button" class="advanced ctrl" value="Advanced">
		--><input type="submit" value="Filter">
		</form>
		
<!--		<form class="advanced-filter">
	    <h4>Advanced search</h4>
		<label for="name">Name</label>
		<input name="name" type="text" data-link="Name">
		<input name="uploads" type="checkbox" data-link="Uploaded">
		<label for="uploads">Show only user uploads</label>
		<input type="submit" value="Filter">
		</form>-->
	</div>

	<div class="active_filters"></div>

	<div class="no_results">
		<strong>No results were found.</strong>
	</div>
{% endif %}
{% if pipeline_forms|length > 0 %}
    <div class="results" data-pkey="Revision:selected">
        <table id="pipeline_table">
        <thead>
            <tr>
                <th>Pipeline Family</th>
                <th>Revision</th>
            </tr>
        </thead>
        <tbody>
            {% for form in pipeline_forms %}
            <tr>
                <td>{{ form.family_name }}</td>
                <td>{{ form.pipeline }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <input type="hidden" class="tbselect-value" value="">
    <form action="choose_inputs" method="get" id="choose_inputs">
        <input type="submit" value="Run pipeline">
	</form>
{% else %}
    <div class="greyedout">
        There's nothing here.
    </div>
{% endif %}

{% endblock %}
