{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
	<script src="/static/portal/noxss.js"></script>
	<script src="/static/sandbox/sandbox.js"></script>
    <script src="/static/pipeline/jsBezier-0.6.js"></script>
    <script src="/static/pipeline/drydock_objects.js"></script>
    <script src="/static/pipeline/drydock.js"></script>
    <script src="/static/pipeline/pipeline_load.js"></script>
    <script type="text/javascript">

// place in global namespace to access from other files
var canvas;
var canvasState;
var submit_to_url = '/pipeline_add';

var rawNodeWidth = 20,
    rawNodeHeight = 25,
    rawNodeColour = "#8D8",
    rawNodeInset = 10,
    rawNodeOffset = 10;

var cdtNodeWidth = 45,
    cdtNodeHeight = 28,
    cdtNodeColour = '#88D',
    cdtNodeInset = 13,
    cdtNodeOffset = 15;

var mNodeWidth = 40,
    mNodeInset = 5,
    mNodeSpacing = 10,
    mNodeColour = '#999',
    mNodeOffset = 5;

$(function() {
    // initialize animated canvas
    canvas = document.getElementById('pipeline_preview_canvas');
    var canvasWidth  = canvas.width  = 160,
        canvasHeight = canvas.height = 120;

    canvasState = new CanvasState(canvas);
    canvasState.setScale(0.20);
    canvasState.enable_labels = false;
    
    // change pipeline revision drop-down triggers ajax to redraw canvas
    $('.tbselect-value').on('change', function () {
        if ($('.tbselect-value').val() !== '') {
            $.ajax({
                type: "POST",
                url: "/get_pipeline/",
                data: { pipeline_id: $('.tbselect-value').val() },
                datatype: "json",
                success: function(result) {
                    $("#pipeline_preview_container").show();
                    
                    // prepare to redraw canvas
                    // remove all objects from canvas
                    canvasState.clear();
                    // reset containers to reflect canvas
                    canvasState.shapes = [];
                    canvasState.connectors = [];
                    canvasState.exec_order = [];
                    canvasState.selection = [];
        
                    submit_to_url = result['family_pk'];
                    var i, j, k; // counters
                    var node, cables, cable, connector, shape, source, magnet;
        
                    draw_inputs(result);
                    canvasState.testExecutionOrder();
                    
                    for (var i = 0; i < canvasState.shapes.length; i++) {
                        canvasState.detectCollisions(canvasState.shapes[i], 0.5);
                    }
                }
            });
        }
        else {
            $("#pipeline_preview_container").hide();
        }
    }).change();
});

    </script>
	<link rel="stylesheet" href="/static/sandbox/sandbox.css">
{% endblock %}

{% block content %}

<a href="usr.html" rel="prev">Back to user portal</a>

<h2>Analysis</h2>

<p>
Select a pipeline
</p>

{% if pipeline_forms|length > 0 %}
    <div id="pipeline_preview_container">
        <h3>Currently selected: (thumbnail)</h3>
        <canvas id="pipeline_preview_canvas">Warning: Kive does not support your web browser.</canvas>
    </div>
    
	<div class="filter_ctrl">
		<form class="short-filter">
		<input name="name" type="text" data-link="Smart"><!--
		    /* There will be a time and a place for this. That time is not now. */
		    <input type="button" class="advanced ctrl" value="Advanced">
		--><input type="submit" value="Filter">
		</form>
		
<!--		<form class="advanced-filter">
	    <h4>Advanced search</h4>
		<label for="name">Name</label>
		<input name="name" type="text" data-link="Name">
		<input name="uploads" type="checkbox" data-link="Uploaded">
		<label for="uploads">Show only user uploads</label>
		<input type="submit" value="Filter">
		</form>-->
	</div>

	<div class="active_filters"></div>

	<div class="no_results">
		<strong>No results were found.</strong>
	</div>
{% endif %}
{% if pipeline_forms|length > 0 %}
    <div class="results" data-pkey="Revision:selected" data-ajax-url="filter_pipelines">
        <table id="pipeline_table">
        <thead>
            <tr>
                <th>Pipeline Family</th>
                <th>Revision</th>
            </tr>
        </thead>
        <tbody>
            {% for form in pipeline_forms %}
            <tr>
                <td>{{ form.family_name }}</td>
                <td>{{ form.pipeline }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <input type="hidden" class="tbselect-value" value="">
    <form action="choose_inputs" method="get" id="choose_inputs">
        <input type="submit" value="Choose inputs">
	</form>
{% else %}
    <div class="greyedout">
        There's nothing here.
    </div>
{% endif %}

<div class="errortext">{{ error_msg }}</div>
<div id="errors" class="errortext"></div>

{% endblock %}
