{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/sandbox/sandbox.js"></script>
{% endblock %}

{% block content %}

<a href="choose_pipeline" rel="prev">Back to pipeline selection</a>

<h2>Analysis</h2>

<p>
Choose pipeline inputs
</p>

<form id="inputs_form" action="run_pipeline" method="post">
    <input type="hidden" name="pipeline" value="{{ input_form.pipeline }}" />
    {{ input_form }}
    {% csrf_token %}
    <input type="submit" id="submit" value="Engage">
</form>

{% endblock %}
