{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
	<script src="/static/portal/jquery-2.0.3.min.js"></script>
	<script src="/static/portal/noxss.js"></script>
	<script src="/static/sandbox/sandbox.js"></script>
	<script src="/static/sandbox/jq_color_anim.min.js"></script>
	<link rel="stylesheet" href="/static/sandbox/sandbox.css">
{% endblock %}

{% block content %}

<a href="choose_pipeline" rel="prev">Back to pipeline selection</a>

<h2>Choose pipeline inputs</h2>

<ul id="input_forms">
{% for input, datasets, total in input_data %}
	<li>
		<h3>Input {{ input.dataset_idx }}: <code>{{ input.dataset_name }}</code></h3>
	<div class="filter_ctrl">
		<form class="short-filter">
		<input name="name" type="text" data-link="Smart"><input type="button" class="advanced ctrl" value="Advanced"><input type="submit" value="Filter">
		</form>
		
		<form class="advanced-filter">
	    <h4>Advanced search</h4>
		<label for="name">Name</label>
		<input name="name" type="text" data-link="Name">
		<input name="uploads" type="checkbox" data-link="User-Uploaded">
		<label for="uploads">Show only user uploads</label>
		<input type="submit" value="Filter">
		</form>
	</div>

	<div class="active_filters"></div>

	<div class="no_results">
		<strong>No results were found.</strong>
	</div>

	<div class="results" data-pkey="symbolicdataset_id" data-displaycols="2,3" data-ajax-url="filter_datasets" data-compounddatatype="{{ input.structure.compounddatatype.pk }}">
		<table>
                <caption>showing most recent {{ datasets|length }} datasets</caption>
		<thead>
			<tr>
				<th>symbolicdataset_id</th>
				<th>Name</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for dataset in datasets %}
			<tr>
				<td>{{ dataset.symbolicdataset_id }}</td>
				<td>{{ dataset.name }}</td>
				<td>{{ dataset.date_created|date:"b d, Y, P"|capfirst}}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	
	<input type="hidden" name="input_{{ input.dataset_idx }}" class="tbselect-value" value="">
	</li>
{% endfor %}
</ul>

<div id="errors" class="errortext">{{ input_error_msg }}</div>

<form action="run_pipeline" id="run_pipeline" method="post">

    <p>Users allowed:
    {{ run_submission_form.users_allowed }}
        <div class="errortext">{{ run_submission_form.users_allowed.errors }}</div>
    </p>
    <p>Groups allowed:
    {{ run_submission_form.groups_allowed }}
        <div class="errortext">{{ run_submission_form.groups_allowed.errors }}</div>
    </p>

    {{ run_submission_form.pipeline }}
        <div class="errortext">{{ run_submission_form.pipeline.errors }}</div>
        <div class="errortext">{{ run_submission_form.non_field_errors }}</div>
    {% csrf_token %}
    <input type="submit" id="submit" value="Go">
</form>

<div id="progress"></div>
<div id="details"></div>

{% endblock %}
