{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
	<script src="/static/portal/jquery-2.0.3.min.js"></script>
	<script src="/static/portal/noxss.js"></script>
	<script src="/static/sandbox/sandbox.js"></script>
	<script src="/static/sandbox/jq_color_anim.min.js"></script>
	<link rel="stylesheet" href="/static/sandbox/sandbox.css">
{% endblock %}

{% block content %}

<a href="choose_pipeline" rel="prev">Back to pipeline selection</a>

<h2>Choose pipeline inputs</h2>

<ul id="input_forms">
{% for input, datasets in input_data %}
	<li>
		<h3>Input {{ input.dataset_idx }}: <code>{{ input.dataset_name }}</code></h3>
	<div class="filter_ctrl">
		<form class="short-filter">
		<input name="name" type="text" data-link="Smart"><input type="button" class="advanced ctrl" value="Advanced"><input type="submit" value="Filter">
		</form>
		
		<form class="advanced-filter">
	    <h4>Advanced search</h4>
		<label for="name">Name</label>
		<input name="name" type="text" data-link="Name">
		<input name="uploads" type="checkbox" data-link="Uploaded">
		<label for="uploads">Show only user uploads</label>
		<input type="submit" value="Filter">
		</form>
	</div>

	<div class="active_filters"></div>

	<div class="no_results">
		<strong>No results were found.</strong>
	</div>

	<div class="results" data-pkey="pk" data-displaycols="2,3" data-ajax-url="filter_datasets">
		<table data-compounddatatype="{{ input.structure.compounddatatype }}">
		<thead>
			<tr>
				<th>pk</th>
				<th>Name</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for dataset in datasets %}
			<tr>
				<td>{{ dataset.pk }}</td>
				<td>{{ dataset.name }}</td>
				<td>{{ dataset.date_created }}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	
	<input type="hidden" name="input_{{ input.dataset_idx }}" class="tbselect-value" value="">
	</li>
{% endfor %}
</ul>

<form action="run_pipeline" id="run_pipeline" method="post">
    <input type="hidden" name="pipeline" value="{{ input_data.0.0.transformation.definite.pk }}">
    <!--Annoyingly, some browsers will disallow form submission unless >= 1 user input field is present. -->
    <input type="text" style="display: none;">
    {% csrf_token %}
    <input type="submit" id="submit" value="Engage">
</form>

<div id="errors" class="errortext"></div>
<div id="progress"></div>

{% endblock %}
