{% extends "portal/base.html" %}

{% block title %}Analysis{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/sandbox/sandbox.js"></script>
{% endblock %}

{% block content %}

<style type="text/css">
html body {
    width: 100%;
}
#triptych {
    height: 500px;
    width: 100%;
}
#bottombar {
    height: 50px;
    width: 100%;
}
.panel {
    margin: 1em 0;
    border: 1px solid #eee;
    float: left;
    width: 33%;
    height: 100%;
}
.bottomdiv {
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
}
.selected {
    background-color: #c7e6fa;
}
.greyedout {
    color: #636363;
    text-align: center;
    height: 50%;
    margin-top: 90%;
}

.data_select {
    width: 100%;
}

#run_button {
    height: 100%;
    width: 30%;
}

</style>

<a href="usr.html" rel="prev">Back to user portal</a>

<h2>Analysis</h2>

<p>
Run pipelines on data.
</p>

<div id="triptych">

<div class="panel" id="data_panel">
    <div class="greyedout">
        select a pipeline
    </div>
</div>

<div class="panel" id="pipeline_panel">
{% if families|length > 0 %}
    <table id="pipeline_table" width=100%>
    <thead>
	    <tr>
            <th>Pipeline Family</th>
            <th>Revision</th>
	    </tr>
    </thead>
    <tbody>
        {% for family, members in families %}
        <tr>
            <td>{{ family.name }}</td>
            <td>
                <!-- The Pipeline's PK is stored as the "id" of the option. -->
                <select>
                    {% for pipeline in members %}
                    <option value={{ pipeline.pk }}>{{ pipeline.revision_name }}</option>
                    {% endfor %}
                </select>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% else %}
    <div class="greyedout">
        no pipelines defined
    </div>
{% endif %}
</div>

<div class="panel" id="results_panel">
    <div class="greyedout">
        select a pipeline
    </div>
</div>

</div>

<div id="bottombar">
    <div class="bottomdiv">
        <input id="uploads_checkbox" name="uploads_checkbox" type="checkbox">show only uploaded data</input>
    </div>
    <div class="bottomdiv">
        <button id="run_button">run</button>
    </div>
    <div id="run_error" class="bottomdiv errortext">
    </div>
</div>

<div id="progress">
</div>

{% endblock %}
