.lock span {
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
}
.lock div {
    background-color: #eef4f4;
    white-space: nowrap;
    border-radius: 15px;
    padding: .25em .8em;
    margin-right: .5em;
}
.lock a {
    padding: .5em 0 .5em .5em;
    font-weight: bold;
}
