.lock {
    padding-top: .25em;
    padding-bottom: .25em;
}
.lock span {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-left: .5em;
    line-height: .8em;
}
.lock span:empty {
    display: none;
}
.lock img {
    display: inline;
    line-height: 1em;
    position: relative;
    top: 3px;
}
.lock a {
    display: block;
    font-size: .8em;
    background-color: #eef4f4;
    white-space: nowrap;
    border-radius: 15px;
    margin-right: .5em;
    padding: .15em 1em .25em;
    border: 1px solid transparent;
}

.navigation_links .record_count {
    font-style: italic;
    font-size: 0.8em;
    padding-right: 1em;
    padding-left: 1em;
}

.navigation_links .nav {
    font-size: 0.8em;
}

.navigation_links .nolink {
    font-size: 0.8em;
    color: gray;
}
