.lock {
    padding-top: .25em;
    padding-bottom: .25em;
}
.lock span {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-left: .5em;
    line-height: .8em;
}
.lock span:empty {
    display: none;
}
.lock img {
    display: inline;
    line-height: 1em;
    position: relative;
    top: 3px;
}
.lock a {
    display: block;
    font-size: .8em;
    background-color: #eef4f4;
    white-space: nowrap;
    border-radius: 15px;
    margin-right: .5em;
    padding: .15em 1em .25em;
    border: 1px solid transparent;
}

.navigation_links .record_count {
    font-style: italic;
    font-size: 0.8em;
    padding-right: 2em;
    padding-left: 1em;
}

.navigation_links .nav {
    font-size: 0.8em;
}

.navigation_links .nolink {
    font-size: 0.8em;
    color: gray;
}

.navigation_links .page_num {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 0.8em;
    color: gray;
}

.with-error {
    background-color: rgb(255, 191, 191);
    cursor: pointer;
    position: relative;
}
.with-error:hover {
    background-color: rgb(255, 62, 62);
}
.error-tip{
    display: block;
    position: absolute;
    background: #FFF0F0;
    border-radius: 5px;
    width: 300px;
    top: 0;
    right: -335px;
    padding: 10px;
    display: none;
    z-index: 100;
    border: 2px solid #FFD5D5;
}
.error-tip:after, .error-tip:before {
    right: 100%;
    top: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.error-tip:after {
    border-color: rgba(214, 133, 133, 0);
    border-right-color: #FFF0F0;
    border-width: 10px;
    margin-top: -10px;
}
.error-tip:before {
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #FFD5D5;
    border-width: 12px;
    margin-top: -12px;
}
.error-tip ul{
    margin: 0;
    padding: 4px 0 0 25px;
}
.error-tip li{
    text-size: 0.7em;
}
