/* This is a SASS-generated file. If you are seeing this in the CSS and
 * need to edit, close this file and find the corresponding SASS file instead.
 */
@import './ball-spin.css'
$submit_icon: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFREVJBAYL7Ozso6SmzM3Ob3BzgYKE////8GOoMQAAAAh0Uk5T/////////wDeg71ZAAAAaklEQVR42lSO0RbAMARDo6j//+ORtDubF1wRUFUOM+xVDNTqlhEHzDj3UGrg3U81mQDKVSlJS1MgzFxgC6wD3hXXHaQGI5BpF5YRbscMY3ZjE1TwVUAa7oV78JEm58R9zfILSH6gST4CDAA1OgRo8O828AAAAABJRU5ErkJggg=='
$gear_icon: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF////xsbGu7u74+Pj6enp9PT0qKiorq6u7VtU0wAAAFpJREFUeNpkT0kOADEIUlH7/x+PdEszcmgJuCEyEWO4XBTVTJ2EpqVZFuq1oJ8PZg1tBZRFsgXwxxJ8zSPIXNiJvY28C78W9KF9bTusnX7CVbnHDRx54n8CDAB7ZwLNNKLfPAAAAABJRU5ErkJggg=='
$close_icon: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF////8tKmBAQLAEWd0vT/yZ9v6P//udP0gGzkJgAAADdJREFUeNq0TTkOACAMopTW//9YN8XVSMIA4QC+oQTE2DqYWsTpkNnWIYU7Idto36j2l0dMAQYAOMUAcmo6uwMAAAAASUVORK5CYII='

=no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
=icon-btn
  background-repeat: no-repeat
  background-position: 3px 3px
  text-indent: -999em
  overflow: hidden
  font-size: 1.5em
  // margin: .5em 0
=submit-btn
  display: block
  background-position: .65em 6px
  background-image: url($submit_icon)
=advanced-ctrl-btn
  cursor: pointer
  width: 24px
  padding: 0
  box-shadow: none
  background-color: transparent
  border-radius: 0
  border: 0
=offset-2px
  position: relative
  top: 2px

.asf-form, .asf-advanced-form
  .la-ball-spin
    display: none
.busy
  .asf-form, .asf-advanced-form
    .la-ball-spin
      display: block

.filter_ctrl,
.asf-form
  min-width: 550px
  margin-bottom: .5em
  select
    margin-top: -1px
    width: calc(100% - 9em)
  h4
    margin: .25em 0 .5em
  input[type='text']
    width: 12em
  input[type='submit']
    +icon-btn
    +submit-btn
  input.ctrl
    +icon-btn
  .short-filter input
    display: inline
  .la-ball-spin
    color: #000

.search_form,
.asf-main-search
  max-width: 45rem
  border: 1px solid #ccc
  background-color: #fff
  margin: 
    bottom: .5em
    right: 1em
  padding: .3em .5em
  cursor: text
  position: relative
  box-sizing: border-box
  display: flex
  & > *
    margin: 0 0.25em
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
  align-items: center
  .active_filters,
  .asf-active-filters
    display: inline
    cursor: default
    .filter,
    .asf-filter
      &:last-child
        margin-right: 0
      +no-select
      display: inline-block
      white-space: normal
  input[type='submit']
    +icon-btn
    +submit-btn
  input.ctrl
    +icon-btn
  input[type="text"]
    border: 0
    flex-grow: 1
  /* Remove button padding in FF */
  input::-moz-focus-inner
    border: 0
    padding: 0
    margin: 0
  input.advanced.ctrl
    +advanced-ctrl-btn
    background-image: url($gear_icon)
    height: 24px
  .search_button,
  .asf-search-button
    cursor: pointer

.asf-advanced-form
  display: none
  .la-ball-spin
    color: #000

// asf-form
//   asf-main-search
//     asf-active-filters
//     asf-search-field
//     asf-search-button


a.remove
  padding: .5em 0 .5em .5em
  font-weight: bold
  cursor: pointer
  &:hover
    color: #00f


.filter
  display: inline
  white-space: nowrap
  background-color: #eef4f4
  &.focus
    background-color: #cdd
  border-radius: 15px
  padding: .25em .8em
  margin-right: .5em
  // font-size: .8em
  .logic_gate
    font-size: .8em
    font-weight: bold
    text-transform: uppercase
  .field
    @extend .logic_gate
    padding-right: .25em
    color: rgba(0,0,0,.7)

.results
  padding: 0 0 1em
  clear: left
  table
    border-collapse: collapse
    min-width: 33%
    caption
      padding: .25em .5em
      color: #bbb
    tr
      th
        padding: .25em .5em
        text-align: center
        background-color: #eee
        border-right: 1px solid #fff
        &:last-child
          border-right-width: 0
      td
        border: 1px solid #eee
        background-color: #fff
        border-width: 1px 0
        padding: .25em .5em
        vertical-align: middle
        font-size: .9em
        white-space: nowrap
        max-width: none
        &:first-child
          padding-left: .5em
      &:hover td
        background-color: #ebf6fd
      &.selected
        &:hover td, td
          background-color: #c7e6fa
        select:focus
          background-color: #fff
      select
        border: 0
        margin: -3px
        padding: 0
        width: 100%
        box-sizing: border-box
        background-color: transparent
      &:not(.selected) select
        background-image: none

.asf-active-filters
  &:empty
    display: none
.asf-advanced-form
  background-color: #fff
  padding: .5em 0 1em 1em
  border: 1px solid #ddd
  box-sizing: border-box
  position: relative
  display: none
  h4 
    margin-top: .25em
    margin-bottom: .75em
    font-style: italic
  .asf-field-container
    width: 49%
    display: inline-block
    label
      display: inline-block
      padding: .25em 0
      &:after 
        content: ":"
    input 
      float: right
      margin:
        right: 1em
        bottom: -1px
      width: calc(100% - 8em)
      &[type="checkbox"]
        margin:
          top: .5em
          right: 1.75em
  .advanced.ctrl
    +icon-btn
    +advanced-ctrl-btn
    position: absolute
    right: .5em
    background-image: url($gear_icon)
  .asf-search-button
    display: block
    box-sizing: border-box
    cursor: pointer
    margin-right: 1em
  .asf-active-filters
    padding: 1em 0 0
  .asf-submit-wrapper
    margin-top: .5em
    display: flex
.dev_results
  clear: left


@media (max-height: 1000px) and (min-height: 701px)
  .asf-main-search
    .filter 
    .asf-search-field
