body {
	font: 12pt 'Lato', sans-serif;
	margin: 0;
	background: url('/static/portal/bg_tile.png');
}
a:link {
    text-decoration: none;
    color: #4ae;
}
a:link:hover,
tr.hover {
    outline: 1px dotted #000;
}
tr.hover a:link:hover {
    outline: none;
}
a:visited {
    color: #38c;
}
.code {
    font-family: monospace;
}
#wrapper {
    width: 100%;
    position: static;
    top: 0; bottom: 0;
    overflow: visible;
}
#inner_wrap {
    margin: .5em 3em 1.5em 4em;
}
table {
    border: 0;
    border-collapse: collapse;
    padding: 0px;
    border-spacing: 12px 12px;
    margin-bottom: 1.5em;
}
thead {
    border: 1pt solid black;
    border-width: 0 0 1pt 0;
}
th, td {
    padding: .5em;
    text-align: left;
    vertical-align: top;
    max-width: 40em;
}
td:first-child,
th:first-child {
    padding-left: 0;
}
td:last-child,
th:last-child {
    padding-right: 0;
}
td:last-child:empty,
th:last-child:empty {
    display: none;
}
td ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5em;
}
td h4 {
    margin: .7em 0;
}
td h4:first-child {
    margin-top: 0;
}
tr:hover td {
    background-color: rgba(0,0,0,0.02);
}
tr.inputs td {
    border: 1px solid #eee;
    padding: 0;
}
tr.inputs input {
    border: 0;
}
td ul.cell-list {
    display: block;
    margin: 0;
    padding: 0;
}
td ul.cell-list li {
    display: inline;
}
td ul.cell-list li:after {
    content: ', ';
}
td ul.cell-list li:last-child:after {
    content: '';
}
#wrapper > a {
    font-size: .8em;
    margin-left: 5em;
}
#wrapper > h2 {
    font-size: 1.333em;
    margin-left: 3em;
}
.formtable td {
    vertical-align: middle;
}
span.smalltxt {
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
}
h1 {
    font-size: 3em;
    margin: 0 0 1.5em;
    line-height: .9em;
    background: url('/static/portal/h1.png') #222 1.5em 4px no-repeat;
    text-indent: -999em;
}
#wrapper #h1a {
    font-size: 1em;
    margin-left: 0;
}
#wrapper #h1a:hover,
#wrapper #h1a:active {
    outline: none;
}
h2 {
    font-size: 1.5em;
    padding-top: .5em;
}
h3 {
    font-size: 1em;
}
p {
    max-width: 55em;
}
a[rel="prev"] {
    display: block;
    margin-left: -4em;
    margin-top: -4.5em;
    float: left;
    padding: 0.8em 1.4em;
    background-color: #bbb;
    line-height: 0;
    color: transparent;
    font-style: italic;
    width: 0; overflow:hidden;
    z-index: 3;
    position:relative;
}
a[rel="prev"]:hover {
    background-color: #c7e5fa;
    outline: none;
    width: auto;
    color: #fff;
}
a[rel="prev"]:before {
    content: "\25C2";
    margin-left: -.3em;
    margin-right: 2em;
    color: #fff;
    font-style: normal;
}

#auth_info {
    position: relative; 
    float: right;
    background-color: #bbb;
    color: #fff;
    margin-top: -4.5em;
    margin-right: -3em;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALCAYAAAB/Ca1DAAAAqElEQVQoz2NggIL///8LAHEDEO8H4vtQuh+IFRhIBUBNBkD8Hor7oQY3QA0GiRmQYpgAVON5EBuL3HyooQrEGlgA1SCARw0sCBrwYAGYYnBYEbA0AaoOF34P9yHMZgYKAFIcnCfVhethXoOGbQKagfNJDUOY10CGwUAD3DCkmHyPLZaRXAKOZSSX/Ie6ugHKnk8oHQagpUMHNLUByMGBLz3Ccsp/cnMKABOmj6DAXZwZAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: .8em center;
    z-index: 2;
}
#auth_info p {
    margin: .5em 3.5em .5em 3.2em;
    font-style: italic;
    font-size: 0.8em;
    float: left;
}
#auth_info a {
    position: absolute;
    right: 0;
    padding: .5em;
    font-size: 0.8em;
    color: #fff;
    width: 1em;
    color: transparent;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    float: right;
}
#auth_info a:hover {
    padding: .5em 1em;
    background-color: #c7e5fa;
    outline: none;
    width: auto;
    color: #fff;
}
#auth_info a:before {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJRJREFUeNpi/P//fz8DA4MBA35wgZGRsZAJqpCQYggAmrwfhLGIK6CLMeExJx+ooYBYxReBuB+oYT4QC2A4A8rGBs6DnMXEQBwABcB5YhV/AOJCFjTBQiAWgLIdgLgeiB8AcSAwnC+gKAYJIAUdSPEBqMIPhEIDFGuOMIVgw6AhAYqAhXg0PgBqWoAvuJABOGgBAgwAxdh9ESZyAnQAAAAASUVORK5CYII=');
    margin-right: 1em;
    margin-left: 0em;
    color: #fff;
    font-style: normal;
}


/* Navigation menu styles */
nav { width: 25em; }
nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin-left: -4em;
}
nav a:link {
    display: block;
    background-color: rgba(0,0,0,0.02);
    text-decoration: inherit;
    color: inherit;
    padding: 1em 2em 1em 4em;
    border-bottom: 1px solid #000;
}
nav a:visited { color: inherit; }
nav a:link:hover {
    background-color: rgba(68,170,238,0.2);
    outline: none;
}
nav a:link:hover:before {
    content: "\25B8";
    float: left;
    margin-left: -1.5em;
    font-size: 1.2em;
}
nav li:first-child a { border-top: 1px solid #fff; }
nav li:last-child a {  border-bottom: 1px solid #fff; }
nav h4 { font-size: 1.2em; margin: 0; }
nav .menu-description {   margin: .3em 0 0; }

/* Form styles */
input, textarea, select {
    font: inherit;
    border: 1px solid #ccc;
    outline: none; /* Annoying WebKit feature */
}
input[disabled], textarea[disabled], select[disabled] {
    background-color: #f4f4f4;
    color: #888;
}
select {
    max-width: 30em;
}
select option {
    max-width: 30em;
}

.helptext {
    display: inline;
}
.helptext a[rel="ctrl"] {
    color: #888;
    font-size: 0.8em;
    cursor: pointer;
}
.helptext .fulltext,
.fulltext.detached {
    display: none;
    position: absolute;
    border: 1px solid #FF9; /* FF9 is superior to both 8 and 10. */
    background-color: #ffc;
    color: #880;
    font-size: .7em;
    font-style: italic;
    padding: .5em;
    max-width: 20em;
}

/* override default settings */
table.blank {
    border-specing: 0px 0px;
    margin-bottom: 0em;
}
.blank tbody{
    border: 0pt;
    border-width: 0pt;
}

table.formtable {
    border-collapse: collapse;
}
.formtable td {
    padding: 0;
    border: 1px solid #ccc;
    line-height: 1.6em;
    padding-left: .5em;
}
input[type="text"],
input[type="number"],
input[type="password"],
select {
    padding: .25em;
}
.formtable input,
.formtable select {
    border: 0;
    margin-left: -.5em;
}
.formtable tr:first-child input,
.formtable tr:first-child select {
    margin-top: 0;
    border-top: 0;
}
.formtable tr:last-child input,
.formtable tr:last-child select {
    margin-bottom: 0;
    border-bottom: 0;
}

input[type="button"], 
input[type="submit"], 
input[type="reset"],
a.button {
    box-shadow: inset -.2em -.4em .4em -.2em #ccc, 
                inset  .2em  .8em  1em -.2em #fff;
    border-radius: 1em;
    padding: 0 1em;
    color: #444;
    background-color: #ddd;
}
input[type="button"]:active, 
input[type="submit"]:active, 
input[type="reset"]:active,
a.button:active,
a.button.active {
    box-shadow: inset  .2em  .4em .4em -.2em #ccc, 
                inset -.2em -.8em  1em -.2em #fff;
}
a.button {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 0 1em 0 .8em;
}
a.button:hover, a.button:active {
    outline: none;
    cursor: default;
}
a.button.large {
    padding-top: .25em;
    padding-bottom: .25em;
}
.button-lbl {
    font-size: 0.85em;
    font-weight: normal;
}
select:not([multiple]) {
    padding-right: 1.55em;
    /* Disable FF/WebKit user agent styles */
    -webkit-appearance: none;
    border-radius: 0;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    
    /* Create a drop-down button to replace the one we just removed. */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAARElEQVQoz2NgwASaUIwC/v//j4GxafSHYk1SNCNrxDAAn2ZsGlEMwKUZn0a4AcT4GScYZpopDjCyo4riREJx8iQ5YwAAg8Lgu+iiljMAAAAASUVORK5CYII=') #fff right center no-repeat;
}
input.add,
input.left-button {
    border-radius: 1em 0 0 1em;
    font-weight: bold;
    margin-right: -1px;
}
input.remove,
input.right-button {
    border-radius: 0 1em 1em 0;
    font-weight: bold;
    margin-left: 0;
}
div.button-group {
    white-space: nowrap
}
input.close-button {
    padding: 0 .5em;
}
input[disabled],
input[disabled]:active {
    box-shadow: none;
}

.shortIntField{
    width: 80px;
}



.happy_indicator {
    background: url('/static/portal/smiley.png');
    width: 32px;
    height: 32px;
    margin-top: -40px;
    margin-right: 50px;
    float: right;
    z-index: 2;
    position: relative;
}
.happy_indicator_label {
    position: relative;
    margin-top: -3em;
    margin-right: 90px;
    line-height: 1.1em;
    float: right;
    z-index: 2;
    font-size: 0.8em;
    font-style: italic;
    width: 40%;
    color: #bbb;
}
#description_wrap {
    width: 300px;
    text-align: right;
}
#id_revision_desc {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 70px;
    padding: .25em;
    margin-top: -1px;
}

.multiFieldSet {
    margin-bottom: 1em;

}

.errorStrip {
   clear:both;
   padding-top: 2em;
   padding-bottom: 2em;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Regular'), url('/static/portal/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: local('Lato-Bold'), url('/static/portal/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato-Italic'), url('/static/portal/Lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
}
/* TODO: get italic fonts to load */

.errortext {
    color: #FF0000;
}
.errortext:empty {
    display: none;
}
#errors {
    margin-top: 1em;
}
.placeholder {
    font-style: italic;
    color: #888;
}
a .placeholder {
    color: inherit;
}