.permissions-widget {
  border: 1px solid #ccc;
  border-left-width: 1px;
  border-right-width: 1px;
  height: 12em;
  width: 21.3em;
  margin-bottom: 1em;
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.permissions-widget .pw-search-wrapper {
  width: 10em;
  height: 100%;
  box-sizing: border-box;
  float: left;
  background: #fff;
}
.permissions-widget .pw-users_groups {
  width: 100%;
  height: calc(100% - 21px);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
.permissions-widget h5 {
  margin: 0;
  text-align:center;
  border-bottom: 1px solid #ccc;
  padding: .3em 0 .1em;
  font-size: 0.7em;
  text-transform: uppercase;
}
.permissions-widget .pw-users_groups > div {
  padding: .25em 0;
  border: 0;
  font-size: 0.9em;
  margin: 0;
  box-sizing: border-box;
}
.permissions-widget .pw-users_groups_allowed {
  background: #fff;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.permissions-widget .pw-users_groups_allowed .pw-inner {
  padding: .25em 0;
  font-size: 0.9em;
  border: 0;
  box-sizing: border-box;
}

.permissions-widget .pw-option {
  padding: 0 .5em;
}
.permissions-widget .pw-option.pw-selected {
  background-color: #238;
  color: #fff;
}

.permissions-widget .pw-accumulator-ctrl {
  width: 1.3em;
  height: 100%;
  float: left;
  box-sizing: border-box;
  background-color: #ddd;
  color: #444;
  box-shadow: -0.5em -0em 0.4em -0.2em #CCC inset, 0.5em 0em 1em -0.2em #FFF inset;
}
.permissions-widget .pw-accumulator-ctrl input {
  display: block;
  box-sizing: border-box;
  height: 25%;
  border: 1px solid #ccc;
  border-top: 0;
  background-color: transparent;
  padding: auto;
  width: 100%;
  font-size: 1.15em;
  line-height: 1em;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}
.permissions-widget .pw-accumulator-ctrl input:last-child {
  border-bottom: 0;
}
.permissions-widget .pw-accumulator-ctrl .pw-clicking {
  box-shadow: -0.5em -0em 0.4em -0.2em #fff inset, 0.5em 0em 1em -0.2em #ccc inset;
}

.permissions-widget .pw-user { }
.permissions-widget .pw-group { font-weight: bold; }

.permissions-widget .pw-search-container {
  width: 10em;
  border-top: 1px solid #ccc;
}
#pipeline_ctrl .permissions-widget input {
  margin: 0;
}
#pipeline_ctrl .permissions-widget .pw-search-box,
.permissions-widget .pw-search-box {
  display: initial;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 0 3px;
  margin: 0;
  line-height: 15px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGFBMVEX////FxcfU1NXe3t/q6urz8/T7+/vi4uOIh5YnAAAAXklEQVQY022OSxLAIAhDE37e/8ZVSW2n02yQR4gAQBhpoyDVbLdSYI19LNqemH2pytAVLgvpDZKMBkPhAmcl9I9rUHfofNAzg++wW0rLfarZ40FG5E475Jz2Q/AhfgGy9gExUY8I1wAAAABJRU5ErkJggg==");/* Magnifying glass */
  background-repeat: no-repeat;
  background-position: 8.75em;
}
.permissions-widget .pw-users_groups .pw-search-hidden {
  display: none;
}
.permissions-widget input {
  outline: none;
}
.permissions-widget .pw-hidden-multiselect {
  display: none !important;
}