/* This is a SASS-generated file. If you are seeing this in the CSS and
 * need to edit, close this file and find the corresponding SASS file instead.
 */
.hidden {
  display: none; }

h1 {
  position: fixed;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  top: 0; }

html #inner_wrap {
  margin-top: 7.2em;
  margin-left: 0; }

#fixed_overlay {
  position: fixed;
  z-index: 1;
  top: 7.2em; }
  #fixed_overlay a[rel="prev"] {
    margin-left: 0;
    z-index: 4; }
  html #auth_info {
    position: fixed;
    right: 0;
    margin-right: 0; }

#pipeline_name {
  padding-left: 3em; }

#above_box {
  position: fixed;
  z-index: 3;
  top: 2.7em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 0;
  padding-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  border-bottom: 1px solid transparent; }
  #above_box h2 {
    margin-top: 0; }

.dataset-search-dlg {
  display: none; }
  .dataset-search-dlg h4 {
    margin-bottom: 0; }
  .dataset-search-dlg .search_form {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 0.5em;
    margin-right: 1em;
    padding: 0.2em 0.5em;
    cursor: text;
    position: relative; }
    .dataset-search-dlg .search_form .active_filters {
      display: inline;
      cursor: default; }
      .dataset-search-dlg .search_form .active_filters .filter {
        display: inline-block;
        white-space: normal;
        font-size: 1em;
        margin-bottom: 0.25em; }
    .dataset-search-dlg .search_form input[type="text"] {
      border: 0;
      font-size: 1em;
      margin-bottom: 0.25em; }
    .dataset-search-dlg .search_form .search_button {
      position: absolute;
      right: 0.25em;
      bottom: 0.17em;
      margin: 0;
      cursor: pointer; }
  .dataset-search-dlg .search_filters {
    float: left;
    width: 12em; }
    .dataset-search-dlg .search_filters h4 {
      margin-bottom: 0.5em;
      margin-top: 0.5em; }
    .dataset-search-dlg .search_filters select {
      display: block;
      width: 10em;
      margin-bottom: 0.25em; }
  .dataset-search-dlg .search_results table {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: calc(100% - 13.4em);
    font-size: 0.9em; }
    .dataset-search-dlg .search_results table tr.selected td {
      background-color: #238;
      color: #fff; }
    .dataset-search-dlg .search_results table thead th {
      vertical-align: bottom; }
    .dataset-search-dlg .search_results table tfoot td {
      text-align: center; }
    .dataset-search-dlg .search_results table td {
      padding: 0.35em; }
      .dataset-search-dlg .search_results table td:first-child {
        padding-left: 0; }
    .dataset-search-dlg .search_results table td.date {
      min-width: 5.5em; }
    .dataset-search-dlg .search_results table td.primary div {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 40em;
      white-space: nowrap; }
    .dataset-search-dlg .search_results table tbody tr:hover td.primary div {
      overflow: visible; }
    .dataset-search-dlg .search_results table tbody tr:hover td:not(.primary) {
      color: rgba(0, 0, 0, 0.1); }
    .dataset-search-dlg .search_results table tbody tr:hover.selected td:not(.primary) {
      color: rgba(255, 255, 255, 0.15); }
  #insert_dataset {
    background-color: #22b24c;
    color: white;
    font-weight: bold;
    border: 0;
    margin-bottom: -1px;
    position: absolute;
    bottom: 0;
    left: -7em;
    width: 4em;
    cursor: pointer;
    clear: both; }
    #insert_dataset:focus {
      outline: none;
      cursor: pointer; }
  #insert_one_dataset {
    text-indent: -999em;
    overflow: hidden;
    background-image: url("/static/sandbox/down32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.3em 0;
    display: block;
    font-size: 2em;
    box-sizing: border-box;
    width: calc(100% - 2em); }
  #insert_many_dataset {
    text-indent: -999em;
    overflow: hidden;
    background-image: url("/static/sandbox/menu_white32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.3em 0;
    display: block;
    font-size: 2em;
    box-sizing: border-box;
    float: right;
    width: calc(2em);
    border-left-color: white; }
  #insert_many_dataset.active {
    text-indent: -999em;
    overflow: hidden;
    background-image: url("/static/sandbox/menu_green32.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.3em 0;
    display: block;
    font-size: 2em;
    box-sizing: border-box;
    background-color: #fff;
    border-top-color: black;
    border-right-color: black; }
  #insert_many_menu {
    display: none;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 100%;
    background: white;
    color: black; }
    #insert_many_menu ul {
      font-size: 1rem;
      text-indent: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      border-color: black;
      border-width: 1px;
      border-style: solid;
      border-top: 0; }
    #insert_many_menu li {
      display: block;
      padding: 1em 1.25em; }
      #insert_many_menu li:hover {
        background-color: #238;
        color: white; }

.ctrl {
  cursor: pointer; }
  .ctrl.close {
    float: right;
    margin-right: 1em;
    margin-top: 1em; }
  .ctrl.select-all {
    float: right;
    font-size: 0.8em;
    text-decoration: underline; }
  .ctrl.remove {
    background-color: #238;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    font-weight: bold;
    height: 80px;
    line-height: 40px;
    box-sizing: border-box;
    border-left: 1px solid white; }
    .ctrl.remove:hover {
      background-color: #34a; }

#below_box {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.75em 2em;
  border-top: 2px solid #ccc;
  background-color: #f4f4f4;
  font-size: 0.9em; }
  #below_box table {
    float: left;
    margin-bottom: 0; }
    #below_box table td {
      vertical-align: middle;
      padding-right: 1.5em; }
  #below_box input[type="submit"] {
    padding: 0.25em 1em; }
  #below_box #permissions_widget {
    display: none;
    position: fixed; }
    #below_box #permissions_widget .permissions-widget {
      border-width: 2px 1px 0;
      margin-bottom: -2px; }
  #below_box #permissions_ctrl {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
    padding: 0.25em 1em; }
  #below_box #run_pipeline {
    float: right;
    text-align: right;
    clear: none;
    padding-top: 0.5em; }

.error {
  display: none;
  color: #f00;
  font-style: italic;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0.8em; }

.nobreak {
  white-space: nowrap; }

#scroll_content {
  position: absolute;
  top: 12em;
  padding-right: 30em;
  padding-bottom: 5em; }

#dataset_input_table {
  margin-left: 3em; }
  #dataset_input_table thead th {
    text-align: center;
    border-bottom: 1px solid black; }
  #dataset_input_table tbody td {
    padding: 0 1px 1px 0;
    vertical-align: middle;
    position: relative;
    width: 12em;
    height: 5em;
    min-width: 7.5em; }
    #dataset_input_table tbody td.selected {
      background-color: #238;
      color: #fff; }
    #dataset_input_table tbody td.input-dataset {
      box-sizing: border-box;
      padding-left: 1em;
      padding-right: 1em; }
      #dataset_input_table tbody td.input-dataset div.text {
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 10em;
        max-height: 5em; }
    #dataset_input_table tbody td:last-child {
      padding-right: 0; }
    #dataset_input_table tbody td:first-child {
      width: auto; }
    #dataset_input_table tbody td .run-name {
      padding: 1.85em 0.25em 1.85em 1em; }
  #dataset_input_table tfoot td {
    text-align: right; }
    #dataset_input_table tfoot td label {
      font-size: 0.8em;
      font-style: italic; }
    #dataset_input_table tfoot td green-button {
      width: 100%;
      font-size: 1.5em;
      box-sizing: border-box;
      margin-bottom: 1px; }
  #dataset_input_table button {
    background-color: #22b24c;
    color: white;
    font-weight: bold;
    border: 0;
    margin-bottom: -1px;
    padding: 0.25em 1em;
    width: 100%;
    font-size: 2.5em;
    line-height: 1.5em; }
    #dataset_input_table button:focus {
      outline: none;
      cursor: pointer; }
  #dataset_input_table .inactive button {
    background-color: #666; }
    #dataset_input_table .inactive button.receiving {
      background-color: #aaa; }
  .fixed-header {
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    background-color: #fff; }

button:focus {
  outline: none; }

@media (max-height: 1000px) and (min-height: 701px) {
  #above_box {
    padding-top: 1.5em; }
    #above_box h2 {
      font-size: 1.1em; }

  .dataset-search-dlg .search_form {
    margin-bottom: 0.2em; }
    .dataset-search-dlg .search_form .active_filters .filter {
      margin-bottom: 0.2em; }
    .dataset-search-dlg .search_form input[type="text"] {
      margin-bottom: 0.1em; }
  .dataset-search-dlg .search_filters h4 {
    margin-bottom: 0.25em; }
  .dataset-search-dlg .search_filters select {
    margin-bottom: 0.15em; }
  .dataset-search-dlg .search_results table th, .dataset-search-dlg .search_results table td {
    padding: 0.25em; }

  #dataset_input_table button {
    padding: 0.2em 0.75em;
    font-size: 2em; }
  #dataset_input_table tbody td {
    height: 3.85em; }
    #dataset_input_table tbody td .run-name {
      padding: 1.25em 0.25em; }
    #dataset_input_table tbody td.input-dataset {
      padding-left: 0.5em;
      padding-right: 0.5em; }
      #dataset_input_table tbody td.input-dataset div.text {
        font-size: 0.9em;
        max-height: 3.85em; }

  .ctrl.remove {
    height: 62px;
    line-height: 31px;
    padding: 0.85em; }

  #insert_one_dataset,
  #insert_many_dataset,
  #insert_many_dataset.active {
    padding: 0; }

  #scroll_content {
    top: 9em; } }
@media (max-height: 700px) {
  #above_box {
    padding-top: 1.35em; }
    #above_box h2 {
      font-size: 1em; }

  .dataset-search-dlg {
    font-size: 0.9em; }
    .dataset-search-dlg .search_results table th, .dataset-search-dlg .search_results table td {
      padding: 0.25em; }

  #dataset_input_table button {
    padding: 0.15em 0.5em;
    font-size: 1.5em; }
  #dataset_input_table tbody td {
    height: 2.7em; }
    #dataset_input_table tbody td .run-name {
      padding: 0.7em 0.25em; }
    #dataset_input_table tbody td.input-dataset {
      padding-left: 0.3em;
      padding-right: 0.3em; }
      #dataset_input_table tbody td.input-dataset div.text {
        font-size: 0.8em;
        max-height: 2.7em; }

  .ctrl.remove {
    height: 43px;
    line-height: 21px;
    padding: 0.7em; }

  #insert_one_dataset,
  #insert_many_dataset,
  #insert_many_dataset.active {
    padding: 0; }

  #scroll_content {
    top: 6em; } }
@media (max-width: 1280px) and (min-width: 1139px) {
  .dataset-search-dlg .search_results table td.primary div {
    max-width: 24em; } }
@media (max-width: 1138px) and (min-width: 961px) {
  .dataset-search-dlg .search_results table td.primary div {
    max-width: 18em; } }
@media (max-width: 960px) and (min-width: 881px) {
  .dataset-search-dlg .search_results table td.primary div {
    max-width: 12em; } }
@media (max-width: 880px) and (min-width: 801px) {
  .dataset-search-dlg .search_results table td.primary div {
    max-width: 10.5em; } }
@media (max-width: 800px) {
  .dataset-search-dlg .search_results table td.primary div {
    max-width: 9em; } }
@media (max-width: 720px) {
  .dataset-search-dlg .search_filters {
    float: none;
    width: 100%; }
    .dataset-search-dlg .search_filters h4 {
      margin-bottom: 0.5em;
      display: inline; }
      .dataset-search-dlg .search_filters h4:after {
        content: ":"; }
    .dataset-search-dlg .search_filters select {
      display: inline-block;
      width: calc(33.3% - 2.5em);
      margin-bottom: 0.25em; }
  .dataset-search-dlg .search_results h4 {
    display: none; }
  .dataset-search-dlg .search_results table {
    width: 100%; } }

/*# sourceMappingURL=choose_inputs.css.map */
