#input_forms, #input_forms li {
    margin: 0; padding: 0;
    list-style: none;
}
#input_forms li {
	clear:left;
}
#run_pipeline {
	clear: left;
	padding-top: 1em;
}
#input_forms h3 {
	margin-top: 0;
	padding-top: 1em;
}
#pipeline_table {
    width: 100%;
}

.results2 {
    clear: left;
}
.results {
    padding: 0 0 1em;
    clear: left;
}
.advanced .results {
    clear: none;
}
.results table {
    border-collapse: collapse;
    min-width: 33%;
}
.results th {
    padding: .25em .5em;
    text-align: center;
    background-color: #eee;
    border-right: 1px solid #fff;
}
.results th:last-child {
    border-right-width: 0;
}
.results td:first-child {
    padding-left: .5em;
}
.results td {
    border: 1px solid #eee;
    background-color: #fff;
    border-width: 1px 0;
    padding: .25em .5em;
    vertical-align: middle;
    font-size: .9em;
    white-space: nowrap;
}
.results tr:hover td {
    background-color: #ebf6fd;
}
.results tr.selected td,
.results tr.selected:hover td {
    background-color: #c7e6fa;
}
.results tr select {
    border: 0;
    margin: -3px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
}
.results tr:not(.selected) select {
    background-image: none;
}
.results tr.selected select:focus {
    background-color: #fff;
}
.results caption {
    padding: .25em .5em;
    color: #bbb;
}

canvas.preview {
    width: 120px;
    height: 90px;
}
td.preview-canvas {
    width: 120px;
}

.greyedout {
    color: #839496;
}
.no_results {
    color: #a00;
    display: none;
    padding: 1em;
}

a.remove {
    padding: .5em 0 .5em .5em;
    font-weight: bold;
    cursor: pointer;
}
a.remove:hover {
    color: #00f;
}
caption {
    caption-side: bottom;
    font-size: .8em;
    text-align: left;
}