KIVE_DB_NAME="{{ kive_db_name }}"
KIVE_DB_USER="{{ kive_db_user }}"
KIVE_DB_HOST="{{kive_db_host }}"
KIVE_DB_PASSWORD="{{ kive_db_password}}"
KIVE_MEDIA_ROOT="{{ kive_media_root }}"
KIVE_STATIC_ROOT="{{ kive_static_root }}"
KIVE_SLURM_PATH="{{ kive_slurm_path }}"
KIVE_SECRET_KEY="{{kive_server_secret_key}}"
KIVE_ALLOWED_HOSTS={{ kive_allowed_hosts | quote }}
