[Unit]
Description=Run rsnapshot alpha (4 hour) backup.

[Service]
ExecStart=/opt/venv_kive/bin/python /opt/crontab_mail.py \
    --log /var/log/rsnapshot.log \
    --level ERROR \
    --subject {{ (kive_subject_prefix + "rsnapshot alpha") | quote }} \
    --from {{ kive_server_email | quote }} \
    {{ mail_admins_emails | join(',') | quote }} \
    /bin/rsnapshot alpha
