<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Pipeline: {{ family.name }}{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/portal/ajaxsearchfilter.js"></script>

    <script type="text/javascript">
    var is_owner = {{ is_owner|lower }},
        is_admin = {{ is_admin|lower }};

    $(function(){
        noXSS();
        var family_pk = {{ family.pk }};
            
        function published_version($td, pipeline, data) {
            var $button_group = $('<div class="button-group">'),
                $input = $('<input type="submit" value="Publish">'),
                $pipeline_pk_input = $('<input>', {
                    type: 'hidden',
                    name: "pipeline_pk",
                    value: pipeline.id
                }),
                $action_input = $('<input type="hidden" name="action" value="publish">');
            
            if (pipeline.published) {
                $button_group.html('<input type="button" class="left-button" disabled value="Published">');
                $action_input.val("unpublish");
                $input.val("×").addClass('right-button close-button');
            }
            $button_group.append($pipeline_pk_input, $action_input, $input);

            $('<form class="publish">').submit(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "PATCH",
                    url: "/api/pipelines/"  + pipeline.id + "/",
                    data: { published: ($action_input.val() !== "unpublish") },
                    datatype: "json",
                    success: function() { data.table.reloadTable(); }
                }).fail(function(data) {
                    $('.errortext').text('API error ' + data.status + ': ' + data.responseJSON.detail);
                });
            }).append($button_group).appendTo($td);
        }

        var PipelineTable = function($table, is_user_admin, family_pk, $navigation_links) {
            permissions.PermissionsTable.call(this, $table, is_user_admin, $navigation_links);
            this.list_url = "../../api/pipelines/";
            this.family_pk = family_pk;

            this.registerColumn("Name", function ($td, pipeline) {
                var $a = $("<a/>").attr("href", pipeline.view_url);
                if (pipeline.revision_name === '') {
                    $a.text(pipeline.revision_number + ': ').append('<span class="placeholder">anonymous</span>');
                } else {
                    $a.text(pipeline.display_name);
                }
                $td.append($a);
            });
            this.registerColumn("", function pipeline_revise_link($td, pipeline) {
                $("<a>").attr("href", pipeline.absolute_url).text("Revise").appendTo($td);
            });
            this.registerColumn("Description", function($td, pipeline) {
                if (pipeline.revision_desc && pipeline.revision_desc !== '') {
                    $td.append(pipeline.revision_desc);
                } else {
                    $td.append('<span class="placeholder">(none)</span>');
                }
            });
            this.registerColumn(
                "Published version",
                published_version,
                {
                    family_pk: family_pk,
                    table: this
                });

            this.registerStandardColumn("user");
            this.registerStandardColumn("users_allowed");
            this.registerStandardColumn("groups_allowed");
        };
        PipelineTable.prototype = Object.create(permissions.PermissionsTable.prototype);

        var table = new PipelineTable(
            $("#pipelines"),
            is_admin,
            family_pk,
            $(".navigation_links")
        );
        var asf = new AjaxSearchFilter(table, $('#asf'));

        // This adds a filter for the current CodeResource.
        table.filterSet.add("pipelinefamily_id", family_pk, true).hide();
        asf.reloadTable();
    });
    </script>
    <script src="/static/portal/edit_details.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block widget_media %}
{{ family_form.media }}
{% endblock %}

{% block content %}

<a href="/pipeline_families" rel="prev">Back to Pipeline Family summary</a>

<h2>Pipeline Family: {{ family.name }}</h2>

{% if not is_owner and is_admin %}
    <div id="lock"><img src=""/></div>
{% endif %}

<h3>Details</h3>

{% if is_owner or is_admin %}
<form id="pipelineFamilyDetails" name="pipelineFamilyDetails" action="" method="post">{% csrf_token %}
{% endif %}

<table>
<tr>
    <td>Creator:</td>
    <td>{{ family.user }}</td>
</tr>

<tr>
    <td>Permissions:</td>
    <td>
    <h4>Users allowed</h4>
    {% if family.users_allowed.exists %}
    <ul>
        {% for user in family.users_allowed.all %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}

    <h4>Groups allowed</h4>
    {% if family.groups_allowed.exists %}
    <ul>
        {% for group in family.groups_allowed.all %}
        <li>{{ group }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}
    </td>

    {% if is_owner or is_admin %}
    <td class="edit">{{ family_form.permissions }}</td>
    {% endif %}
</tr>

<tr>
    <td>Name:</td>
    <td>
        <span class="readonly">{{ family.name }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ family_form.name }}</span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Description:</td>
    <td>
        <span class="readonly">{{ family.description }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ family_form.description }}</span>
        {% endif %}
    </td>
</tr>

</table>

{% if is_owner or is_admin %}
<span class="edit"><input type="submit" name="revisePipelineFamilyDetails" value="Revise details"/></span>
</form>
{% endif %}

{{ family_form.errors }}

<p style="font-style: italic; color: gray">
Click on 'Revise' link to revise the corresponding pipeline, or click 'Add new pipeline' to add a pipeline without specifying a parent revision.
</p>

<div id="asf">
    <form class="asf-form">
        <div class="asf-main-search">
            <div class="asf-active-filters"></div>
            <input type="text" name="smart" class="asf-search-field">
            <input type="button" class="advanced ctrl" value="Advanced">
            <input type="submit" value="Filter" class="asf-search-button">
        </div>
    </form>
    <form class="asf-advanced-form">
        <input type="button" class="advanced ctrl" value="Advanced">
        <h4>Advanced search</h4>
        <div class="asf-field-container">
            <label>Name</label> <input name="name" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Description</label> <input name="description" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Creator</label> <input name="user" type="text" class="asf-search-fixed-field">
        </div>
        <input type="submit" value="Filter" class="asf-search-button">
    </form>
</div>

<div class="navigation_links"></div>

<div class="dev_results">
    <table id="pipelines"></table>
</div>

<a href="/pipeline_add/{{ family.pk }}" class="button">+&ensp;<span class="button-lbl">Add a new pipeline</span></a>

{% endblock %}
