<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Pipeline{% endblock %}

{% block javascript %}
    <!-- Do not remove - Accumulator still uses jQuery as a global. -->
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        #canvas{}
    </style>
    <link rel="stylesheet" href="/static/pipeline/drydock.css"/>
{% endblock %}

{% block widget_media %}
{{ access_control_form.media }}
{% endblock %}

{% block content %}

    {% if not family and not parent_revision %}
    <a href="pipeline_families" rel="prev">Back to pipelines</a>
    {% else %}
    <a href="/pipelines/{{ family.pk }}" rel="prev">Back to pipeline summary</a>
    {% endif %}

    <!-- Stash the parent revision's representation here. -->
    <div id="initial_data" style="display:none">{{ parent_revision_json|escape }}</div>

    <!-- CANVAS -->
    <canvas id="pipeline_canvas">HTML5 Canvas not supported by this browser.</canvas>

    <!-- Context menu -->
    <div id="context_menu"></div>

    <!-- Method selector -->
    <div id="pipeline_ctrl">
        <ul id="id_ctrl_nav">
            <li data-rel="#id_family_ctrl">Family</li>
            <li data-rel="#id_meta_ctrl">Pipeline</li>
            <li data-rel="#id_add_ctrl"><span class="icon">+</span><span class="longname"> Add Node</span></li>
            <li data-rel="#id_view_ctrl">View</li>
        </ul>

        <form id="id_pipeline_form">{% csrf_token %}
            <div id="form_ctrl">
                <input type="submit" id="id_submit_button" value="Submit">
                <div class="indicator-light"> </div>
                <div class="errortext" id="id_submit_error"></div>
            </div>
        </form>

        {% if parent_revision %}
        <input id="id_pipeline_action" value="revise" type="hidden">
        {% elif family %}
        <input id="id_pipeline_action" value="add" type="hidden">
        {% else %}
        <input id="id_pipeline_action" value="new" type="hidden">
        {% endif %}
        {% include 'pipeline/pipeline_family_dialog.tpl.html' with dlg_id="id_family_ctrl" %}
        {% include 'pipeline/pipeline_meta_dialog.tpl.html'   with dlg_id="id_meta_ctrl" %}
        {% include 'pipeline/pipeline_view_dialog.tpl.html'   with dlg_id="id_view_ctrl" %}

        <div id="id_add_ctrl" class="ctrl_menu">
            <ul>
                <li data-rel="#id_input_ctrl">New Input</li>
                <li data-rel="#id_method_ctrl">New Method</li>
                <li data-rel="#id_output_ctrl">New Output</li>
            </ul>
        </div>

        {% include 'pipeline/pipeline_input_dialog.tpl.html'  with dlg_id="id_input_ctrl"  %}
        {% include 'pipeline/pipeline_method_dialog.tpl.html' with dlg_id="id_method_ctrl" %}
        {% include 'pipeline/pipeline_output_dialog.tpl.html' with dlg_id="id_output_ctrl" %}

    </div>
    <script src="/static/portal/pipeline_add.bundle.js"></script>

{% endblock %}
