<div id="{{ dlg_id }}" class="ctrl_menu">
    <h3>Family</h3>
    {% if family %}  <!-- family is set if parent_revision is passed -->
    <h5 class="first">Family:</h5>
    {{ family.name }}
    {% else %}
    <label for="id_family_name" class="text-field-label">Family name</label>
    <input id="id_family_name" maxlength="128" name="family_name" type="text" placeholder="Family name">
    {% endif %}

    {% if family %}
    <h5>Description:</h5>
    {% if family.description %}
    {{ family.description }}
    {% else %}
    <em>None</em>
    {% endif %}
    {% else %}
    <label for="id_family_desc" class="text-field-label">Family description</label>
    <textarea id="id_family_desc" name="family_desc" placeholder="Family description"></textarea>
    {% endif %}
</div>