<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Pipeline: {{ family.name }}{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/pipeline/pipelines.js"></script>

    <script type="text/javascript">
        $(function(){
            pipelines.main({{ is_user_admin|lower }}, $("#pipelines"), {{ family.pk }},
                           $("#active_filters"), $(".navigation_links"));
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block content %}

<a href="/pipeline_families" rel="prev">Back to Pipeline Family summary</a>

<h2>Pipeline Family: {{ family.name }}</h2>

{% if family.description %}
<p>{{ family.description }}</p>
{% endif %}

<p style="font-style: italic; color: gray">
Click on 'Revise' link to revise the corresponding pipeline, or click 'Add new pipeline' to add a pipeline without specifying a parent revision.
</p>

<div class="filter_ctrl">
    <form class="short-filter">
    <input name="smart" type="text"
        ><input type="button" class="advanced ctrl" value="Advanced"
        ><input type="submit" value="Filter">
    </form>

    <form class="advanced-filter">
    <h4>Advanced search</h4>
    <table>
    <tr>
        <td><label>Name<input name="name" type="text"/></label></td>
        <td><label>Description<input name="description" type="text"/></label></td>
    </tr>
    <tr>
        <td><label>Creator<input name="user" type="text"/></label></td>
    </tr>
    </table>
    <input type="submit" value="Filter"/>
    </form>
</div>

<div id="active_filters"></div>

<div class="navigation_links"></div>

    <div class="dev_results">
        <table id="pipelines"></table>
    </div>

<a href="/pipeline_add/{{ family.pk }}" class="button">+&ensp;<span class="button-lbl">Add a new pipeline</span></a>

{% endblock %}
