<div id="{{ dlg_id }}" class="context_menu">
    <ul>
        <li data-action="edit" class="edit">Edit</li>
        <li data-action="complete_inputs" class="complete-inputs">Complete Inputs</li>
        <li data-action="delete" class="delete">Delete</li>
        <li data-action="add_input" class="cm-add cm-add-input">Add Input</li>
        <li data-action="add_method" class="cm-add cm-add-method">Add Method</li>
        <li data-action="add_output" class="cm-add cm-add-output">Add Output</li>
    </ul>
</div>