<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Pipelines{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/core.min.js"></script>
    <script src="/static/portal/system.js"></script>
    <script src="/static/portal/system.config.js"></script>
    <script>
        System.import('/static/pipeline');
    </script>

    <script type="text/javascript">
$(function() {
    // Security stuff to prevent cross-site scripting.
    noXSS();
});
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        #canvas{}
    </style>
    <link rel="stylesheet" href="/static/pipeline/drydock.css"/>
{% endblock %}

{% block widget_media %}
{{ access_control_form.media }}
{% endblock %}

{% block content %}

    {% if not family and not parent_revision %}
    <a href="pipeline_families" rel="prev">Back to pipelines</a>
    {% else %}
    <a href="/pipelines/{{ family.pk }}" rel="prev">Back to pipeline summary</a>
    {% endif %}

    <!-- Stash the parent revision's representation here. -->
    <div id="initial_data" style="display:none">{{ parent_revision_json|escape }}</div>

    <!-- CANVAS -->
    <div>
    <canvas id="pipeline_canvas">HTML5 Canvas not supported by this browser.</canvas>
    <div id="method_context_menu" class="context_menu"><ul><li data-action="edit" class="edit">Edit</li><li data-action="delete" class="delete">Delete</li></ul></div>
    </div>

    <!-- Method selector -->
    <div id="pipeline_ctrl">
        <ul id="id_ctrl_nav">
            <li data-rel="#id_family_ctrl">Family</li>
            <li data-rel="#id_meta_ctrl">Pipeline</li>
            <li data-rel="#id_input_ctrl" class="new_ctrl">Add Input</li>
            <li data-rel="#id_method_ctrl" class="new_ctrl">Add Method</li>
            <li data-rel="#id_view_ctrl">View</li>
        </ul>

        <form id="id_pipeline_form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if parent_revision %}
        <input id="id_pipeline_action" value="revise" type="hidden">
        {% elif family %}
        <input id="id_pipeline_action" value="add" type="hidden">
        {% else %}
        <input id="id_pipeline_action" value="new" type="hidden">
        {% endif %}
            <div id="form_ctrl">
                {% if parent_revision %}
                <input type="button" id="id_revert" value="Revert">
                <input type="button" id="id_update" value="Check for Updates">
                {% endif %}
                <input type="submit" id="id_submit_button" value="Submit">
                <div class="indicator-light"> </div>
                <div class="errortext" id="id_submit_error"></div>
            </div>

            {% include 'pipeline/pipeline_family_dialog.tpl.html' with dlg_id="id_family_ctrl" %}
            {% include 'pipeline/pipeline_meta_dialog.tpl.html'   with dlg_id="id_meta_ctrl" %}
        </form>

        {% include 'pipeline/pipeline_view_dialog.tpl.html'   with dlg_id="id_view_ctrl"   %}
        {% include 'pipeline/pipeline_input_dialog.tpl.html'  with dlg_id="id_input_ctrl"  %}
        {% include 'pipeline/pipeline_method_dialog.tpl.html' with dlg_id="id_method_ctrl" %}
        {% include 'pipeline/pipeline_output_dialog.tpl.html' with dlg_id="id_output_ctrl" %}

    </div>

{% endblock %}
