{% extends "portal/base.html" %}

{% block title %}Pipelines{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/portal/ajaxsearchfilter.js"></script>
    <script type="text/javascript">

    $(function(){
        noXSS();
        
        var PipelineFamiliesTable = function($table, is_user_admin, $active_filters, $navigation_links) {
            permissions.PermissionsTable.call(this, $table, is_user_admin, $navigation_links);
            this.list_url = "api/pipelinefamilies/";

            this.registerColumn("Family", function ($td, pipeline_family) {
                $("<a>").attr("href", pipeline_family.absolute_url).text(pipeline_family.name).appendTo($td);
            });
            this.registerColumn("Description", "description");
            this.registerColumn("# revisions", "num_revisions");
            this.registerColumn("Published version", function ($td, pipeline_family) {
                $td.text(pipeline_family.published_version_display_name || "None");
            });

            this.registerStandardColumn("user");
            this.registerStandardColumn("users_allowed");
            this.registerStandardColumn("groups_allowed");
        };
        PipelineFamiliesTable.prototype = Object.create(permissions.PermissionsTable.prototype);

        var table = new PipelineFamiliesTable(
            $("#pipelinefamilies"),
            {{ is_user_admin|lower }},
            $('.asf-active-filters'),
            $(".navigation_links")
        );
        table.reloadTable();
        var asf = new AjaxSearchFilter(table, $('#asf'));
    });

    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block content %}

<a href="dev.html" rel="prev">Back to developer's portal</a>

<h2>Pipelines</h2>
<a href="/pipeline_new" class="button">+&ensp;<span class="button-lbl">Add new</span></a>

<p>A pipeline is the deployment of one or more Methods to process data.</p>

<div id="asf">
    <form class="asf-form">
        <div class="asf-main-search">
            <div class="asf-active-filters"></div>
            <input type="text" name="smart" class="asf-search-field">
            <input type="button" class="advanced ctrl" value="Advanced">
            <input type="submit" value="Filter" class="asf-search-button">
        </div>
    </form>
    <form class="asf-advanced-form">
        <input type="button" class="advanced ctrl" value="Advanced">
        <h4>Advanced search</h4>
        <div class="asf-field-container">
            <label>Name</label> <input name="name" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Description</label> <input name="description" type="text" class="asf-search-fixed-field">
        </div>
        <div class="asf-field-container">
            <label>Creator</label> <input name="user" type="text" class="asf-search-fixed-field">
        </div>
        <input type="submit" value="Filter" class="asf-search-button">
    </form>
</div>

<div class="navigation_links"></div>

    <div class="dev_results">
<table id="pipelinefamilies"></table>
    </div>

{% endblock %}
