<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/core.min.js"></script>
    <script src="/static/portal/system.js"></script>
    <script src="/static/portal/system.config.js"></script>
    <script>
        var is_owner = {{ is_owner|lower }},
            is_admin = {{ is_admin|lower }};

        System.import('/static/pipeline/pipeline_view.js')
    </script>
    <script src="/static/portal/edit_details.js"></script>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block widget_media %}
{{ pipeline_form.media }}
{% endblock %}

{% block title %} {{ pipeline.family }}, revision {{ pipeline.display_name }} {% endblock %}

{% block content %}

<div id="pipeline_dict" style="display:none;">
    {% autoescape off %}
    {{ pipeline_dict }}
    {% endautoescape %}
</div>

<a href="/pipelines/{{ pipeline.family.pk }}" rel="prev">Back to Pipeline family</a>

<h2>{{ pipeline.family }}, revision {{ pipeline.display_name }}</h2>

{% if not is_owner and is_admin %}
    <div id="lock"><img src=""/></div>
{% endif %}

<h3>Details</h3>

{% if is_owner or is_admin %}
<form id="pipelineFamilyDetails" name="pipelineFamilyDetails" action="" method="post">{% csrf_token %}
{% endif %}

<table>
<tr><td>Date created:</td><td>{{ pipeline.revision_DateTime }}</td></tr>
<tr><td>Creator:</td><td>{{ pipeline.user }}</td></tr>

<tr>
    <td>Permissions:</td>
    <td>
    <h4>Users allowed</h4>
    {% if pipeline.users_allowed.exists %}
    <ul>
        {% for user in pipeline.users_allowed.all %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}

    <h4>Groups allowed</h4>
    {% if pipeline.groups_allowed.exists %}
    <ul>
        {% for group in pipeline.groups_allowed.all %}
        <li>{{ group }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <em>None</em>
    {% endif %}
    </td>

    {% if is_owner or is_admin %}
    <td class="edit">{{ pipeline_form.permissions }}</td>
    {% endif %}
</tr>

<tr>
    <td>Revision name:</td>
    <td>
        <span class="readonly">{{ pipeline.revision_name }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ pipeline_form.revision_name }}</span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>Revision description:</td>
    <td>
        <span class="readonly">{{ pipeline.revision_desc }}</span>
        {% if is_owner or is_admin %}
        <span class="edit">{{ pipeline_form.revision_desc }}</span>
        {% endif %}
    </td>
</tr>

</table>

{% if is_owner or is_admin %}
<span class="edit"><input type="submit" name="revisePipelineFamilyDetails" value="Revise details"/></span>
</form>
{% endif %}

{{ pipeline_form.errors }}

    <h3>Diagram</h3>

    <div>
        <canvas id="pipeline_canvas" data-editable="false">HTML5 Canvas not supported by this browser.</canvas>
    </div>

{% endblock %}