<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Pipeline: {{ family.name }}{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/pipeline/pipelines.js"></script>
    <link rel="stylesheet" href="/static/portal/permissions.css">

    <script type="text/javascript">
        $(function(){
            pipelines_main({{ is_user_admin|lower }},
                    {{ family.pk }},
                    $("#pipelines"),
                    JSON.parse($('#initial_data').text()));
        });
    </script>
{% endblock %}

{% block content %}

<a href="/pipeline_families" rel="prev">Back to Pipeline Family summary</a>

<h2>Pipeline Family: {{ family.name }}</h2>

<p>
{{ family.description }}
</p>

<div id="initial_data" style="display:none">{{ pipelines|escape }}</div>
<p style="font-style: italic; color: gray">
Click on 'Revise' link to revise the corresponding pipeline, or click 'Add new pipeline' to
add a method without specifying a parent revision.
</p>

<table id="pipelines"></table>

<a href="/pipeline_add/{{ family.pk }}" class="button">+&ensp;<span class="button-lbl">Add a new pipeline</span></a>

{% endblock %}
