<div id="{{ dlg_id }}" class="ctrl_menu">
    <h3>Pipeline</h3>

    {% if family %}
    <h5 class="first">Parent revision:
        {% if parent_revision %}
        {{ parent_revision }}
        {% else %}
        None
        {% endif %}
    </h5>
    {% endif %}

    <input type="hidden" id="id_family_pk" value="{{ family.pk }}"/>
    <input type="hidden" id="id_family_name" value="{{ family.name }}"/>
    <input type="hidden" id="id_family_desc" value="{{ family.desc }}"/>

    <input id="id_revision_name" maxlength="128" name="revision_name" type="text" placeholder="Revision name">
    <textarea id="id_revision_desc" name="revision_desc" placeholder="Description"></textarea>

    <div class="form-inline-opts"><input type="checkbox" id="published" name="published"> <label for="published" class="checkbox-label">Publish this revision immediately on submission</label></div>

    <h5>Users and groups allowed:</h5>
    {{ access_control_form.permissions }}
</div>