/* Pipeline-specific formatting. */
#inner_wrap {
    margin-bottom: 0 !important;
}
#pipeline_canvas {
    margin-left: -4em;
    margin-top: -2.5em;
}
#pipeline_ctrl, .pipeline_rdonly_ctrl {
    position: absolute;
    top: 46px; left: 0;
    width: 100%;
    height: 1.5em;
    z-index: 1;
}
#pipeline_ctrl input,
#pipeline_ctrl textarea,
#pipeline_ctrl select {
    display: block;
    margin-bottom: -1px;
}
#pipeline_ctrl #id_method_button, 
#pipeline_ctrl #id_cdt_button {
    margin: .5em;
}
#pipeline_ctrl h3 { display: none; }
ul#id_ctrl_nav, ul.desc_topleft { padding: 0; margin: 0 0 0 3.5em; }
ul.desc_topleft li {
    display: inline;
    padding: .2em 1em;
}
ul#id_ctrl_nav li {
    display: inline;
    padding: .2em 1em;
    cursor: pointer;
    font-weight: bold;
}
ul#id_ctrl_nav li.clicked,
ul#id_ctrl_nav li.clicked:hover {
    background-color: #aaa;
    color: #fff;
}
ul#id_ctrl_nav li:hover {
    background-color: #aaa;
    color: #fff;
}
#pipeline_ctrl .ctrl_menu {
    top: 4.3em;
    position: fixed;
    padding: .5em;
    border: 1px solid #aaa;
    display: none;
    background: #fff;
    width: 250px;
}
.input-label { color: #ccc; }

#id_datatype_name, #id_select_method_family, 
#id_select_method, #id_method_name, 
#id_revision_name, #id_select_cdt {
    box-sizing: border-box;
    width: 250px;
}

#pipeline_ctrl #form_ctrl { float: right; margin-top: -1.25em; margin-right: 9em; }
#pipeline_ctrl #form_ctrl input[type="submit"] { font-weight: bold; }
#pipeline_ctrl #form_ctrl input               { border-radius: 0;           padding: 0 .5em;    float: left; margin-right: -1px; margin-left: 0; }
#pipeline_ctrl #form_ctrl input:first-of-type { border-radius: 1em 0 0 1em; padding: 0 .5em 0 1em; }
#pipeline_ctrl #form_ctrl input:last-of-type  { border-radius: 0 1em 1em 0; padding: 0 1em 0 .5em; }

#pipeline_ctrl .form-inline-opts {
    font-size: 0.9em;
    font-style:italic;
}
#pipeline_ctrl .form-inline-opts input {
    display: inline;
}


#id_submit_error {
    display: none;
    position: absolute;
    top: 2.5em;
    right: 0;
    margin: 0 1em;
    padding: 1em;
    border: 1px solid #f00;
    background-color: #fee;
    max-width: calc(50% - 4em - 2px);
}

#dialog_form {
    display: none;
    position: absolute;
}
#dialog_form label {
    font-size: .8em;
    text-align: center;
    text-shadow: -.5px 1px 0px #fff;
}
#dialog_form input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    margin-top: -1px;
    border-radius: 0 0 1em 1em;
}
#dialog_form #output_name {
    border-radius: 1em 1em 0 0;
    text-align: center;
}
#dialog_form form > * {
    display: block;
}
#dialog_form #output_name_error {
    display: none;
    font-weight: bold;
    padding: 0.25em;
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    position: absolute;
}

.colour_picker_colour {
    width: 20px; height: 20px;
    display: block;
    float: left;
    border: 1px solid white;
    margin: -1px -1px 0 0;
    cursor: pointer;
}
#colour_picker_pick {
    float: none;
}
#colour_picker_menu {
    width: 147px;
    display: block;
    position: absolute;
    display: none;
}

.context_menu {
    position: absolute;
    display: none;
    border: 1px solid #ddd;
    font-size: 1em;
}
.context_menu ul {
    display: block;
    margin: 0; padding: 0;
    background-color: #fff;
}
.context_menu li {
    display: block;
    margin: 0; padding: 0.7em;
    background-color: #fff;
    padding-right: 1.5em;
    cursor: pointer;
}
.context_menu li:hover {
    background-color: #eee;
}
