<!-- Django template -->

{% extends "portal/base.html" %}
{% block title %}kive for Developers{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/portal/portal.css">
{% endblock %}

{% block content %}

<a href="/" rel="prev">Return to homepage</a>


<img class="header-icon" src="/static/portal/dev_icon.png">
<h2>Developers</h2>


<nav><ul>
    <li>
        <a href="/container_families">
        <h4 class="menu-item">Containers</h4>
        <p class="menu-description">Add or update Singularity containers.</p>
        </a>
    </li>
</ul></nav>


{% endblock %}
