{% comment %}
Include this template to build the submit button in the advanced search controls
for permissions.FilterSet.
{% endcomment %}

        <div class="asf-submit-wrapper">
            <input type="submit" value="Filter" class="asf-search-button">
            <div class="la-ball-spin la-sm">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
