<!-- Django template -->
{% extends "portal/base.html" %}
{% load static %}

{% block title %}kive{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'portal/portal.css' %}">
{% endblock %}

{% block content %}
<nav><ul>
    <li>
        <a href="/usr.html">
        <img class="menu-icon" src="{% static 'portal/user_icon.png' %}">
        <h4 class="menu-item">Users</h4>
        <p class="menu-description">Upload data sets and process data using containers.</p>
        </a>
    </li>
    {% if is_developer %}
    <li>
        <a href="/dev.html">
        <img class="menu-icon" src="{% static 'portal/dev_icon.png' %}">
        <h4 class="menu-item">Developers</h4>
        <p class="menu-description">Add or modify containers.</p>
        </a>
    </li>
    {% endif %}
    {% if user.is_staff %}
    <li>
        <a href="/admin/">
        <img class="menu-icon" src="{% static 'portal/admin_icon.png' %}">
        <h4 class="menu-item">Administrators</h4>
        <p class="menu-description">Add, remove, or modify users and groups</p>
        </a>
    </li>
    {% endif %}
</ul></nav>

{% endblock %}
