<!-- Django template -->

{% extends "portal/base.html" %}
{% block title %}kive for Users{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/portal/portal.css">
{% endblock %}

{% block content %}
<a href="/" rel="prev">Return to homepage</a>

<img class="header-icon" src="/static/portal/user_icon.png">
<h2>Users</h2>


<nav><ul>
    <li>
        <a href="/datasets">
        <h4 class="menu-item">Datasets</h4>
        <p class="menu-description">Upload a new dataset</p>
        </a>
    </li>
    <li>
        <a href="/container_choices">
        <h4 class="menu-item">Container Analysis</h4>
        <p class="menu-description">Launch a container.</p>
        </a>
    </li>
    <li>
        <a href="/container_runs">
        <h4 class="menu-item">Container Runs</h4>
        <p class="menu-description">View the status and results of container
        runs.</p>
        </a>
    </li>
    <li>
        <a href="/choose_pipeline">
        <h4 class="menu-item">Analysis</h4>
        <p class="menu-description">Apply a pipeline to one or more datasets.</p>
        </a>
    </li>
    <li>
        <a href="/runs">
        <h4 class="menu-item">Runs</h4>
        <p class="menu-description">View the status and results of pipeline
        runs.</p>
        </a>
    </li>
    <li>
        <a href="/lookup">
        <h4 class="menu-item">Lookup</h4>
        <p class="menu-description">Find runs that have involved a given file.</p>
        </a>
    </li>
</ul></nav>

{% endblock %}
