[Unit]
Description=Timer that launches the kive_purge service

[Timer]
# https://www.freedesktop.org/software/systemd/man/systemd.time.html#Calendar%20Events
# Hourly means at the top of every hour.
OnCalendar=hourly

# This activates the timer on (multi-user) startup.
[Install]
WantedBy=multi-user.target
