#input_forms, #input_forms li {
    margin: 0; padding: 0;
    list-style: none;
}
#input_forms li {
	width: calc(25% - 2em - 1px);
	float: left;
	border-left: 1px solid #444;
	padding: 0 1em;
}
#input_forms li:first-child {
	border-left: 0;
	padding-left: 0;
}
#run_pipeline {
	clear: left;
}
#input_forms h3 {
	margin-top: 0;
}

.results {
    width: 100%;
    max-height: 15em;
    overflow-y: auto;
    border-top: 1px solid #888;
    padding: 0 0 1em;
    position: relative;
}
.results table {
    border-collapse: collapse;
    width: 100%;
}
.results th {
    padding: .25em .5em;
    font-size: .75em;
    text-align: center;
}
.results td {
    border: 1px solid #eee;
    background-color: #fff;
    border-width: 1px 0;
    padding: .25em .5em;
    vertical-align: top;
    font-size: .75em;
    white-space: nowrap;
}
.results tr:hover td {
    background-color: #fff;
}
.results tr.selected td,
.results tr.selected:hover td {
    background-color: #c7e6fa;
}
.no_results {
    border: 1px solid red;
    color: red;
    display: none;
    padding: 1em;
}
.filter_ctrl {
    margin: .5em 0 0 .5em;
	font-size: 0.8em;
}
.filter_ctrl input[type='text'] {
    margin-top: -1px;
    width: calc(100% - 9em - 2px);
}
.filter_ctrl select {
    margin-top: -1px;
    width: calc(100% - 9em);
}
.filter_ctrl input[type='submit'] {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFREVJBAYL7Ozso6SmzM3Ob3BzgYKE////8GOoMQAAAAh0Uk5T/////////wDeg71ZAAAAaklEQVR42lSO0RbAMARDo6j//+ORtDubF1wRUFUOM+xVDNTqlhEHzDj3UGrg3U81mQDKVSlJS1MgzFxgC6wD3hXXHaQGI5BpF5YRbscMY3ZjE1TwVUAa7oV78JEm58R9zfILSH6gST4CDAA1OgRo8O828AAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: .7em 3px;
    text-indent: -999em; overflow: hidden;
	font-size:1.25em;
}
.filter_ctrl label {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    min-width: 4.5em;
}

.active_filters {
    margin-bottom: 1em;
	clear:left;
}
.active_filters:empty {
	display: none;
}
.filter {
    display: inline;
    white-space: nowrap;
    background-color: #eef4f4;
    border-radius: 15px;
    padding: .25em .8em;
    margin-right: 1em;
    font-size: .8em;
}
.filter .field, .filter .logic_gate {
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
}
.filter .field {
    color: rgba(0,0,0,.7);
}
a.remove {
    padding: .5em 0 .5em .5em;
    font-weight: bold;
    cursor: pointer;
}
a.remove:hover {
    color: #00f;
}