<!-- Django template -->

{% extends "portal/base.html" %}

{% block title %}Container{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/portal/helptext.js"></script>
{% endblock %}

{% block widget_media %}
{{ form.media }}
{% endblock %}

{% block content %}

<a href="/container_family_update/{{ family_id }}" rel="prev">return to family</a>

<h2>Container</h2>

<p>This describes a Singularity container.</p>

<pre>
    {{ form.non_field_errors }}
</pre>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% if download_url %}
            <tr>
                <th>File:</th>
                <td colspan="2">
                    {{ file_name }}&nbsp;
                    <a href="{{ download_url }}" class="large button">Download</a>
                </td>
            </tr>
            <tr>
                <th>MD5:</th>
                <td colspan="2">
                    {{ object.md5 }}
                </td>
            </tr>
        {% endif %}

        {{ form.as_table }}
    </table>

    <input type="submit" value="Submit" />
</form>

{% endblock %}
