<!-- Django template -->

{% extends "portal/base.html" %}

{% block title %}Container{% endblock %}

{% block javascript %}
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
    <script src="/static/portal/permissions.js"></script>
    <script src="/static/portal/ajaxsearchfilter.js"></script>
    <script src="/static/portal/helptext.js"></script>
    <script src="/static/container/ContainerAppTable.js"></script>
    <script type="text/javascript">

    $(function(){
        var table = new permissions.ContainerAppTable(
            $("#container_apps"),
            {{ is_user_admin|lower }},
            $(".navigation_links")
        );
        var asf = new AjaxSearchFilter(table, $("#asf"));

        // This adds a filter for the current object.
        table.filterSet.add("container_id", {{container.id}}, true).hide();

        asf.reloadTable();
    });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/portal/permissions.css"/>
    <link rel="stylesheet" href="/static/portal/search.css"/>
{% endblock %}

{% block widget_media %}
{{ form.media }}
{% endblock %}

{% block content %}

<a href="/container_family_update/{{ family_id }}" rel="prev">return to family</a>

<h2>Container</h2>

<p>This describes a Singularity container.</p>

<pre>
    {{ form.non_field_errors }}
</pre>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% if download_url %}
            <tr>
                <th>File:</th>
                <td colspan="2">
                    {{ file_name }}&nbsp;
                    <a href="{{ download_url }}" class="large button">Download</a>
                </td>
            </tr>
            <tr>
                <th>MD5:</th>
                <td colspan="2">
                    {{ object.md5 }}
                </td>
            </tr>
            <tr>
                <th>Size:</th>
                <td colspan="2">
                    {{ file_size }}
                </td>
            </tr>
        {% endif %}

        {{ form.as_table }}
    </table>

    <input type="submit" value="Submit" />
</form>

{% if object %}
    {% if not object.is_singularity %}
    <h3>Pipeline:</h3>
    <a class="button" href="content"><span class="button-lbl">
        {% if pipeline_state == "valid" %}
            Revise
        {% elif pipeline_state == "empty" %}
            Create
        {% else %}
            Continue editing
        {% endif %}
    </span></a>
    {% endif %}

    <h3>Apps in the Container:</h3>
    {% if object.is_singularity %}
    <a class="button" href="app_add">+&ensp;<span class="button-lbl">Create
        a new app</span></a>
    {% endif %}

    <div id="asf">
        <form class="asf-form">
            <div class="asf-main-search">
                <div class="asf-active-filters"></div>
                <input type="text" name="smart" class="asf-search-field">
                <input type="button" class="advanced ctrl" value="Advanced">
                <input type="submit" value="Filter" class="asf-search-button">
            </div>
        </form>
        <form class="asf-advanced-form">
            <input type="button" class="advanced ctrl" value="Advanced">
            <h4>Advanced search</h4>
            <div class="asf-field-container">
                <label for="search-name">Name</label><input
                    name="name"
                    id="search-name"
                    type="text"
                    class="asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="search-description">Description</label><input
                    name="description"
                    id="search-description"
                    type="text"
                    class="asf-search-fixed-field">
            </div>
            <input type="submit" value="Filter" class="asf-search-button">
        </form>
    </div>

    <div class="navigation_links"></div>

    <div class="dev_results">
        <table id="container_apps"></table>
    </div>
{% endif %}
{% endblock %}
