<!-- Django template -->

{% extends "portal/base.html" %}
{% load static %}

{% block title %}Container Run{% endblock %}

{% block javascript %}
    <script src="{% static 'portal/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'portal/noxss.js' %}"></script>
    <script src="{% static 'portal/permissions.js' %}"></script>
    <script src="{% static 'portal/ajaxsearchfilter.js' %}"></script>
    <script src="{% static 'portal/helptext.js' %}"></script>
    <script>
    var is_owner = {{ is_owner|lower }},
        is_admin = {{ is_user_admin|lower }};
    </script>
    <script src="{% static 'portal/edit_details.js' %}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'portal/permissions.css' %}"/>
{% endblock %}

{% block widget_media %}
{{ form.media }}
{% endblock %}

{% block content %}

<a href="/container_runs" rel="prev">return to Container Runs</a>

<h2>Container Run</h2>

<p>This describes a Singularity container, running under Kive.</p>

<pre>
    {{ form.non_field_errors }}
</pre>

{% if not is_owner and is_user_admin %}
    <div id="lock"><a href="javascript:void(0);"><img src=""/></a></div>
{% endif %}

{% if is_owner or is_user_admin %}
<form id="details" name="details" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
{% endif %}

    <table>
    <tr>
        <th>Submit time:</th>
        <td>{{ object.submit_time }}</td>
    </tr>
    <tr>
        <th>Start time:</th>
        <td>{{ object.start_time }}</td>
    </tr>
    <tr>
        <th>End time:</th>
        <td>{{ object.end_time }}</td>
    </tr>
    <tr>
        <th>Container App:</th>
        {% if is_dev %}
        <td><a href="{{ object.app.get_absolute_url }}">{{ object.app.display_name }}</a></td>
        {% else %}
        <td>{{ object.app.display_name }}</td>
        {% endif %}
    </tr>
    <tr>
        <th>Batch:</th>
        <td>{{ object.batch.name }}</td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>
            <span class="readonly">{{ object.name }}</span>
            {% if is_owner or is_user_admin %}
            <span class="edit">{{ form.name }}</span>
            {% endif %}
        </td>
        <td class="errortext">
            {% if is_owner or is_user_admin %}
            <span class="edit">{{ form.name.errors }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>
            <span class="readonly">{{ object.description }}</span>
            {% if is_owner or is_user_admin %}
            <span class="edit">{{ form.description }}</span>
            {% endif %}
        </td>
        <td class="errortext">
            {% if is_owner or is_user_admin %}
            <span class="edit">{{ form.description.errors }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Permissions:</th>
        <td>{{ form.permissions }}</td>
    </tr>
    <tr>
        <th>State:</th>
        <td>{{ state_name }}</td>
    </tr>
    <tr>
        <th>Priority:</th>
        <td>{{ object.priority }}</td>
    </tr>
    <tr>
        <th>Slurm job id:</th>
        <td>{{ object.slurm_job_id }}</td>
    </tr>
    <tr>
        <th>Sandbox path:</th>
        <td>{{ object.sandbox_path }}</td>
    </tr>
    <tr>
        <th>Return code:</th>
        <td>{{ object.return_code }}</td>
    </tr>
    <tr>
        <th>Stopped by:</th>
        <td>{{ object.stopped_by | default:"-" }}</td>
    </tr>
    <tr>
        <th>Is redacted:</th>
        <td>{{ object.is_redacted }}</td>
    </tr>
    </table>

{% if is_owner or is_user_admin %}
    <input type="submit" value="Submit" />
</form>
{% endif %}

<table>
    <tr><th>Type</th>
        <th>Name</th>
        <th>Size</th>
        <th>Date</th>
        {% if object.original_run %}
            <th>Changed?</th>
        {% endif %}
    </tr>
{% for data_entry in data_entries %}
    <tr><td>{{ data_entry.type }}</td>
        <td><a href="{{ data_entry.url }}">{{ data_entry.name }}</a></td>
        <td>{{ data_entry.size }}</td>
        <td>{{ data_entry.created }}</td>
        {% if object.original_run %}
            <td>{{ data_entry.is_changed }}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>

{% endblock %}
