<!-- Django template -->
<!-- Display contents of Methods as a HTML table -->

{% extends "portal/base.html" %}

{% block title %}Pipeline{% endblock %}

{% block javascript %}
    <!-- Do not remove - Accumulator still uses jQuery as a global. -->
    <script src="/static/portal/jquery-2.0.3.min.js"></script>
    <script src="/static/portal/noxss.js"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        #canvas{}
    </style>
    <link rel="stylesheet" href="/static/container/drydock.css"/>
{% endblock %}

{% block widget_media %}
{{ access_control_form.media }}
{% endblock %}

{% block content %}

    <a href="." rel="prev">Back to container</a>

    <!-- Stash the original pipeline data here. -->
    <div id="initial_data" style="display:none">{{ content_json|escape }}</div>
    <input type="hidden" id="id_container_pk" value="{{ object.pk }}"/>

    <!-- CANVAS -->
    <canvas id="pipeline_canvas">HTML5 Canvas not supported by this browser.</canvas>

    <!-- Context menu -->
    <div id="context_menu"></div>

    <!-- Method selector -->
    <div id="pipeline_ctrl">
        <ul id="id_ctrl_nav">
            <li data-rel="#id_defaults_ctrl">Defaults</li>
            <li data-rel="#id_add_ctrl"><span class="icon">+</span><span class="longname"> Add Node</span></li>
            <li data-rel="#id_view_ctrl">View</li>
        </ul>

        <form id="id_pipeline_form">{% csrf_token %}
            <div id="form_ctrl">
                <input type="submit" id="id_submit_button" value="Submit">
                <div class="indicator-light"> </div>
                <div class="errortext" id="id_submit_error"></div>
            </div>
        </form>

        <input id="id_pipeline_action" value="revise" type="hidden">
        {% include 'container/content_defaults_dialog.tpl.html'   with dlg_id="id_defaults_ctrl" %}
        {% include 'container/content_view_dialog.tpl.html'   with dlg_id="id_view_ctrl" %}

        <div id="id_add_ctrl" class="ctrl_menu">
            <ul>
                <li data-rel="#id_input_ctrl">New Input</li>
                <li data-rel="#id_method_ctrl">New Method</li>
                <li data-rel="#id_output_ctrl">New Output</li>
            </ul>
        </div>

        {% include 'container/content_input_dialog.tpl.html'  with dlg_id="id_input_ctrl"  %}
        {% include 'container/content_method_dialog.tpl.html' with dlg_id="id_method_ctrl" %}
        {% include 'container/content_output_dialog.tpl.html' with dlg_id="id_output_ctrl" %}

    </div>
    <script src="/static/portal/container_content.bundle.js"></script>

{% endblock %}
