<!-- Django template -->

{% extends "portal/base.html" %}
{% load static %}

{% block title %}Container App{% endblock %}

{% block javascript %}
    <script src="{% static 'portal/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'portal/noxss.js' %}"></script>
    <script src="{% static 'portal/permissions.js' %}"></script>
    <script src="{% static 'portal/ajaxsearchfilter.js' %}"></script>
    <script src="{% static 'portal/helptext.js' %}"></script>
    <script src="{% static 'container/ContainerRunTable.js' %}"></script>
    <script type="text/javascript">

    $(function(){
        var table = new permissions.ContainerRunTable(
            $("#runs"),
            "{{ user.get_username }}",
            {{ is_user_admin|lower }},
            $(".navigation_links")
        );
        var asf = new AjaxSearchFilter(table, $("#asf"));

        // This adds a filter for the current object.
        table.filterSet.add("app_id", {{object.id}}, true).hide();

        asf.reloadTable();
    });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'portal/permissions.css' %}"/>
    <link rel="stylesheet" href="{% static 'portal/search.css' %}"/>
{% endblock %}

{% block widget_media %}
{{ form.media }}
{% endblock %}

{% block content %}

<a href="/container_update/{{ container_id }}" rel="prev">return to container</a>

<h2>Container App</h2>

<p>This describes an app in a Singularity container.</p>

<pre>
    {{ form.non_field_errors }}
</pre>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    <tr>
        <th>Container:</th>
        <td>{{ container_name }}</td>
    </tr>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Submit" />
</form>

{% if object.id %}
<p><a href="/container_inputs?app={{ object.id }}">Launch this app</a></p>
    <h3>Container Runs:</h3>

    <div id="asf">
        {% include "portal/filter_set_basic.html" %}
        <form class="asf-advanced-form">
            <input type="button" class="advanced ctrl" value="Advanced">
            <h4>Advanced search</h4>
            <div class="asf-field-container">
                <label for="search-name">Name</label><input
                    name="name"
                    id="search-name"
                    type="text"
                    class="asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="search-description">Description</label><input
                    name="description"
                    id="search-description"
                    type="text"
                    class="asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="startafter">Start after</label><input
                    name="startafter"
                    id="startafter"
                    type="text"
                    class="datetime asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="startbefore">Start before</label><input
                    name="startbefore"
                    id="startbefore"
                    type="text"
                    class="datetime asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="endafter">End after</label><input
                    name="endafter"
                    id="endafter"
                    type="text"
                    class="datetime asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="endbefore">End before</label><input
                    name="endbefore"
                    id="endbefore"
                    type="text"
                    class="datetime asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="user">States</label><input
                    name="states"
                    id="states"
                    type="text"
                    class="asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="user">Creator</label><input
                    name="user"
                    id="user"
                    type="text"
                    class="asf-search-fixed-field">
            </div>
            <div class="asf-field-container">
                <label for="active">Is active</label><input
                    name="active"
                    id="active"
                    type="checkbox"
                    class="asf-search-fixed-field">
            </div>
            {% include "portal/filter_set_advanced_submit.html" %}
        </form>
    </div>

    <div class="navigation_links"></div>

    <div class="results">
        <table id="runs"></table>
    </div>
{% endif %}

{% endblock %}
