<!-- Django template -->
<!-- Display contents of Datatypes as a HTML table -->

{% extends "base.html" %}

{% block title %}Add a new code resource{% endblock %}

{% block javascript %}
<script src="static/resources.js"></script>
{% endblock %}

{% block content %}

<a href="/resources">return to Code Resource summary</a>

<h2>Add a new code resource</h2>

<!-- Form for inserting new Datatypes -->
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ resource_form.as_p }}

    {{ dependency_form.as_p }}
    <h3>Basic constraints</h3>
 <input type="button" id="addConstraint" value="+"/>
 <input type="button" id="removeConstraint" value="-"/></br>
 {{ constraint_form.as_table }}</br>
 <div id="additionalConstraints"></div>
    <input type="submit" value="Upload" />
</form>


{% endblock %}
