name: Build and Test Kive
on: push
jobs:
  build:
    runs-on: ubuntu-22.04
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          # Opens tcp port on the host and service container
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      KIVE_DB_USER: postgres
      KIVE_DB_PASSWORD: postgres
      KIVE_DB_HOST: localhost
      KIVE_STATIC_ROOT: /tmp/kive_test_static_root
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Update apt index
        run: sudo apt-get update
      - name: Install apt packages
        run: sudo apt-get install -y -q dh-autoreconf build-essential libarchive-dev squashfs-tools
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '12.13.1'

      - name: Install Kive's Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-test.txt
      - name: Install node dependencies
        run: npm install

      - uses: actions/setup-go@v2
        with:
          go-version: '^1.15.6'
      - name: Install Singularity
        run: |
          sudo apt-get install -qq \
              build-essential \
              uuid-dev \
              libgpgme-dev \
              squashfs-tools \
              libseccomp-dev \
              wget \
              pkg-config \
              git \
              cryptsetup-bin
          git clone https://github.com/singularityware/singularity.git
          cd singularity
          git checkout -q tags/v3.6.3
          ./mconfig && \
              make -C ./builddir && \
              sudo make -C ./builddir install
          cd ..
          rm -rf singularity
          singularity --version
      - run: npm run test:travis
      - name: Test with pytest
        run: |
          cd kive
          python manage.py collectstatic --no-input
          coverage run -m pytest --flake8
      - name: Test API with pytest
        run: |
          cd api
          coverage run --source=kiveapi -m pytest

      - name: Report code coverage
        run: |
          python -m pip install codecov
          cd kive
          codecov
          cd ../api
          codecov
